[2015-05-01 08:38] MozMorris opened #1 "Enabling object cache breaks wp-admin"
Thanks for your work on this. I've had it working but when I recently disabled & re-enabled the cache, I'm left with the following:

![screen shot 2015-05-01 at 09 27 36](https://cloud.githubusercontent.com/assets/156303/7428220/5cc4a52e-efe4-11e4-93a6-0fb8fdb67aa2.png)

URI: `/wp-admin/upgrade.php?_wp_http_referer=%2Fwp%2Fwp-admin%2Ftools.php%3Fpage%3Dredis-cache%26message%3Dcache-enabled`

Where

[2015-05-01 09:40] tillkruss commented on #1
What happens if you request `/wp-admin/` without any referrer?

[2015-05-01 09:40] MozMorris commented on #1
Same thing.

[2015-05-01 09:42] tillkruss commented on #1
What URL are you redirect to?

[2015-05-01 09:43] MozMorris commented on #1
/wp-admin/upgrade.php?_wp_http_referer=%2Fwp%2Fwp-admin%2F

[2015-05-01 09:44] tillkruss commented on #1
Mhh, try deleting `/wp-content/object-cache.php`.

[2015-05-01 09:47] MozMorris commented on #1
Which fixes the upgrade/redirect but then obviously the cache is not enabled.

[2015-05-01 09:49] tillkruss commented on #1
Okay, try to flush the entire Redis database.

[2015-05-01 09:51] MozMorris commented on #1
That fixed it.

[2015-05-01 11:42] MozMorris commented on #1
@tillkruss thanks for your help with this. I'll leave it to you to close or keep open this issue. 👍

[2015-05-02 01:45] tillkruss commented on #1
Great. I'll look closer into this if more people experience this issue, might have been some weird corner case.

[2015-05-28 08:13] hordeim opened #3 "Redis Not Installed"
Posted the same on Wordpress - not sure which one you prefer

I use roots.io/bedrock and am trying to get object caching to work.  I have redis installed and the following works fine:

    <?php
       //Connecting to Redis server on localhost
       $redis = new Redis();
       $redis->connect('127.0.0.1', 6379);
       echo "Connection to server sucessfully";
       //check whether server is run

[2015-05-31 02:33] tillkruss commented on #3
The notice was fixed in 57f2d86.

[2015-06-05 00:16] #3 closed

[2015-06-23 02:13] zorrobyte opened #4 "WP_CACHE_KEY_SALTis not unique if undefined in wp-config"
In file:
redis-cache/includes/object-cache.php

		/**
		 * This approach is borrowed from Sivel and Boren. Use the salt for easy cache invalidation and for
		 * multi single WP installs on the same server.
		 */
		if ( ! defined( 'WP_CACHE_KEY_SALT' ) ) {
			define( 'WP_CACHE_KEY_SALT', '' );
		}

This doesn't work as it simply sets the WP_CACHE_KEY_SALT to null.

I have tested with multiple WP si

[2015-06-23 02:41] zorrobyte commented on #4
Submitted pull request

[2015-06-23 02:45] zorrobyte opened #6 "wp-content/object-cache.php is not removed on uninstall"
wp-content/object-cache.php is persistent even when removing or upgrading the plugin. A hook should be added to remove this file after Redis cache is deactivated, uninstalled or rewritten when upgrading.

[2015-06-23 04:48] tillkruss commented on #4
What do you mean by "fails"?

[2015-06-23 04:50] zorrobyte commented on #4
Whitescreens with no PHP error messages - due to two sites using same salt for different databases.

Do a redis-cli monitor and add two sites on the same server, there is no prefix and will cause DB corruption, errors.

[2015-06-23 13:09] redhell opened #7 "Database 0 is used instead of WP_REDIS_DATABASE"
Hey,

i used define(WP_REDIS_DATABASE, 4) to select database 4 but instead db0 is used.

redis-cli -> info prints out following

db0:keys=579,expires=19,avg_ttl=96766820
db4:keys=1,expires=19,avg_ttl=32306

The admin page shows me correctly that database 4 is used.

[2015-06-25 10:37] hans2103 commented on #7
cannot reproduce

in my wp-config.php I defined DB1 instead of DB0

and while DB0 is still empty DB1 is increasing.

[2015-06-25 10:49] redhell commented on #7
I noticed that there is no difference between single quotes or without.

db4 won't fill with keys but db0 increases.
Which version do you use?
I use:
- redis 3.0.2.
- predis (latest git) with php 5.6.10
- latest wordpress
- latest plugin version in wordpress repo

[2015-06-25 11:14] hans2103 commented on #7
- redis 2.2.4
- PHPRedis
- latest wordpress
- latest plugin version

[2015-06-25 23:28] tillkruss commented on #7
Are you using Predis or the PCEL Redis Extension?

[2015-06-26 07:09] redhell commented on #7
I'm using the PCEL extension but i tried preids but had no success.

[2015-07-01 03:16] tillkruss commented on #6
Added in f93fe78afd532ea2e2a4d3d0495107e1f35d2a1a

[2015-07-01 03:16] #6 closed

[2015-07-01 03:25] tillkruss commented on #4
Thanks for the explanation. That occurs only when two WordPress installations use the same `$table_prefix` on the same machine as mentioned [in the plugin notes](https://wordpress.org/plugins/redis-cache/other_notes/).

Manually defining a `WP_CACHE_KEY_SALT ` will solve this issue.

[2015-07-01 03:25] #4 closed

[2015-07-01 03:45] tillkruss commented on #7
Like @hans2103, I can't reproduce this. I'd recommend you ask your developer to have a closer look at this.

[2015-07-01 03:45] #7 closed

[2015-07-01 03:55] zorrobyte commented on #4
Thank you for the update!

As I plan on using this on my Shared Hosting service, cPanel by default seems to use the same table prefix per account causing issues. It won't be a bother to maintain a forked private version.

[2015-07-19 14:29] redhell commented on #7
@tillkruss I found the mistake:

I added the define(..); under require_once(wp_settings.php) and it didn't work. After I added the defines at the top everything works well.

[2015-07-20 09:36] tillkruss commented on #7
Awesome, glad it's working now.

[2015-07-22 15:11] rjdp opened #8 "Redis status : Unknown"
![selection_004](https://cloud.githubusercontent.com/assets/7734938/8829128/9ff48530-30b2-11e5-9e33-82ecc4a3f672.png)

[2015-07-23 03:44] tillkruss commented on #8
Try deleting your `object-cache.php` and installing it again via the plugin ui.

[2015-08-10 16:22] rohmann opened #9 "Not working with advanced-cache.php"
I'm using this with batcache and getting this error:
`Fatal error: Call to undefined function maybe_unserialize()`

Adding this to object-cache.php did the trick:
[code]

[2015-08-13 22:23] rohmann commented on #9
Looked into this a bit more, and I don't think it's possible to use `maybe_serialize` and `maybe_unserialize` with `advanced-cache.php`. Those functions load after advanced-cache.php is loaded.

I patched my `object-cache.php` to use alternate functions for now.

[2015-08-14 03:34] tillkruss commented on #9
Okay. If I get more users reporting the same issue, I'll remove the use of `maybe_(un)serialize()`.

[2015-08-14 03:34] #9 closed

[2015-08-14 16:17] rohmann commented on #9
@tillkruss, would you consider accepting PR? My patch simply involves adding variants of those functions to the main class.

[2015-08-15 02:58] tillkruss commented on #9
Thanks! Sure, submit it the PR. I probably won't merge it until more people report the same issue, tho.

[2015-08-15 03:44] zorrobyte opened #10 "Repo management feedback"
I've been watching this project for some time now and just about every issue that has been reported or PR submitted as resulted in "I'll see if more people report this". No offense but you need to keep in mind that a vast majority of WP users haven't the slightest idea of GIT or Github and it's rather uninspiring to watch developers have their contributions snuffed - there has been some nice solut

[2015-08-15 04:18] rohmann commented on #9
submitted

[2015-08-15 04:18] tillkruss commented on #10
If you like to, I can add you to GitHub and WordPress repository.

I'm so busy with my startup that I'm trying to keep my open source work to the minimum.

[2015-08-15 04:19] rohmann commented on #10
I have to agree that was a bit disappointing to see #9 answered like as well. I'd be open to contributing more here as well.

[2015-08-15 04:19] tillkruss commented on #10
Or feel free to fork this plugin.

[2015-08-15 07:47] tillkruss commented on #9
Merged.

[2015-08-15 08:04] tillkruss commented on #10
@zorrobyte I appreciate you feedback and you're welcome to fork this plugin. I originally forked this plugin too, because [the original](https://github.com/ericmann/Redis-Object-Cache) dropped support for Predis PHP library.

I did not merge your pull request #5, because your needs as a hosting provider are too specific. it doesn't make sense that every user of this plugin see unidentifiable md5 c

[2015-08-15 08:04] #10 closed

[2015-08-15 16:11] rohmann commented on #9
awesome thanks!

[2015-08-16 04:31] #8 closed

[2015-08-20 09:11] jamiehannaford commented on #1
@tillkruss I'm also running into this problem. Flushing the Redis cache doesn't fix; the only thing that works is renaming `object-cache.php` to something else.

[2015-08-20 09:21] jamiehannaford commented on #1
@tillkruss If I delete the DB and reinstall, I'm no longer seeing the upgrade DB screen. Instead I'm getting a redirect loop on the admin login:

Is it a problem with Redis retaining and retrieving the admin session?

[2015-08-20 12:05] MozMorris commented on #1
@jamiehannaford as a workaround, I always disable the cache before I do anything code/db/admin related.

I'm hosting on a ephemeral filesystem so I have to do this on every deploy, otherwise I get the redirect.

[2015-08-20 12:08] MozMorris commented on #1
I'm not certain but perhaps flushing the cache when activating the plugin might help?

https://github.com/tillkruss/Redis-Object-Cache/blob/master/redis-cache.php#L279

[2015-08-21 04:49] tillkruss commented on #1
@jamiehannaford: Can you tell me exactly what happened and what the exact issue was? Maybe you flushed the Redis database too soon or late, because the has to work. Unless it's caching issue from another plugin.

@MozMorris: Yeah, I usually just flush the Redis database when I get weird loops like that. I'm eager to find a fix for this, tho.

[2015-08-21 06:36] rjdp commented on #8
Thanks, My bad ... needeed to remove w3tc plugin and also deleted object-cache.php.

[2015-08-21 08:07] jamiehannaford commented on #1
@tillkruss I switched from [Predis](https://github.com/nrk/predis) to the [Redis](https://github.com/phpredis/phpredis) ext and it seems to have fixed the issue :+1:

[2015-08-21 10:38] tillkruss commented on #1
@jamiehannaford: Great!

[2015-08-21 10:38] tillkruss commented on #8
Great, I'm glad that solved it.

[2015-09-03 09:15] #1 closed

[2015-09-09 14:24] skynet opened #13 "Disables Query Monitor"
When Redis Cache Wordpress plugin is enabled Query Monitor won't display statistics. Already reported (https://github.com/johnbillion/query-monitor/issues/139) but it is working with other Redis plugin.

[2015-09-23 02:19] tillkruss commented on #13
Thanks for report this. Let's see if the author(s) of the Query Monitor plugin can fix it.

[2015-09-23 02:19] #13 closed

[2015-09-26 09:44] rmalenko opened #14 "Question: Wordpress Object Cache and Page Cache"
Hi!
Could you tell me, please, will Object Cache (Redis) и Page Cache (Nginx) complement each other or will conflict cached version?

Regards,
Rostyslav

[2015-09-26 09:46] tillkruss commented on #14
They work perfectly together. One is a Object Cache for WordPress, the other one is just for clearing the Nginx cache.

[2015-09-26 09:46] #14 closed

[2015-09-26 09:49] rmalenko commented on #14
Thank you!
In this case a will use Nginx microcache together with Redis-server.

[2015-10-28 21:42] jeremyclarke opened #16 "wp_cache_flush clears entire Redis and not just current site?"
Hi there, thanks so much for this plugin! It's got all the features we need so really appreciated.

Looking at $wp_object_cache->flush it seems like any time wp_cache_flush() is called, the entire Redis library gets cleared. Is that right, or is it only keys related to the current site that would get flushed?

We're running Redis and your plugin on a huge server with dozens of sites, each identifi

[2015-10-29 06:00] tillkruss commented on #16
`wp_cache_flush()` triggers Redis' [FLUSHDB](http://redis.io/commands/FLUSHDB) command, so yes the entire database will be flushed if it's shared with other installations.

I'd recommend to use a separate Redis database for each separate installation.

If you like to you can submit a PR that alters the `flush()` method that lists all [KEYS](http://redis.io/commands/KEYS) if the `WP_CACHE_KEY_SALT`

[2015-10-29 14:21] jeremyclarke commented on #16
Thanks for the confirmation! Very helpful. We'll take a look at sending you that PR. For us a slightly less performant flush probably wouldn't be a big problem compared to the whole db getting reset.

I'll also do a review of our plugins that might be triggering a full flush. I bet one of them is just being stupid and flushing the whole DB when they should be flushing a single group or something.

[2015-10-29 15:53] portablesoft opened #17 "Make Redis Object Cache Full compatible with the Batcache Plugin"
Hi,

Batcache is a full page cache plugin using an object cache plugin. It could cache pages in the memory.

I install the Redis Object Cache and Batcache. However, I could not get the cached page even I refresh the page for many times. Batcache just recreate a new page cache when I refresh the page. It did not send the old cached page.

Is there any compatible issues between Redis Object Cache an

[2015-10-29 17:31] jeremyclarke commented on #17
Are you sure that the Redis object cache is working in general? It could be that Batcache is failing because you don't have this plugin configured properly.

You can test by enabling the Debug Bar plugin and reviewing the Object Cache section, which should list all the internal variables being stored in Redis and cached across pages. Specifically you should notice that disabling the Redis Object C

[2015-10-30 04:16] tillkruss commented on #17
@rohmann submitted 2 PRs for Batcache compatibly. It should work. See #9 and #11.

[2015-10-30 15:02] portablesoft commented on #17
@jeremyclarke @tillkruss thanks. I use the advanced-cache.php by @rohmann and the cache work well now.

However, the advanced-cache.php from the official WordPress plugin site could still not work correctly. I noticed that the plugin was 'Last Updated: 2 weeks ago'.

So I think the new version of Batcache could not use Redis Object Cache as backend now. But I'm only a WordPress user not a develope

[2015-10-31 05:23] #16 closed

[2015-10-31 05:25] tillkruss commented on #17
You can use a file diff tool like FileMerge or Kaleidoscope to check out the differences.

[2015-10-31 15:48] jeremyclarke commented on #16
We're still planning to work out a fix for this.

[2015-11-04 15:46] carlalexander commented on #16
Just going to follow up on this. Redis doesn't support pattern match with the `DEL` command. Flushing the cache that way would require that you fetch all the keys and delete them one at a time.

[2015-12-10 19:17] jeremyclarke opened #18 "Please add filters/actions to get/set/delete calls so we can set up logging/fix bugs in core"
Hi and thanks for the plugin!

**Context**
After having redis-object-cache on for a few weeks we got a steady stream of instances where sites would white-screen-of-death on both the theme and admin. The only thing that fixed it was flushing the object cache, and I tracked it down to a bug in core WP related to how it stores and updates `alloptions`. There is a race condition where two processes up

[2015-12-10 19:57] jeremyclarke opened #19 "Consider: Add fix for WP Core's alloptions race condition bug into redis-object-cache"
There is a terrible bug in WP Core that specifically affects persistent object caches like this one:

https://core.trac.wordpress.org/ticket/31245

(The thread is mostly about the idea of replacing the whole `alloptions` system with a one-at-a-time approach when a persistent object cache is installed. IMHO this is a bad plan and predictably nothing has happened because of concerns over back-compat

[2015-12-10 23:57] #19 closed

[2015-12-11 00:03] tillkruss commented on #18
Sure. Let's add the actions and filter. Just one question, why do you want to `clone` the `$value` if it's an object and not just passing it?

[2015-12-11 00:53] jeremyclarke commented on #18
Honestly I don't know what that's about. That was the `return` value previously, so we used it to populate $value before running the action+filter. Maybe it covers an edge-case that the original author thought was important?

[2015-12-11 23:56] tillkruss commented on #18
I've added the hooks in 1b439e9b8c165577d3c085c93f968ca7caa57194, please test it. If it works well, I'll release the next version soon.

[2015-12-18 11:32] BernardZijlstra opened #20 "1.2.1 fatal error with HHVM 3.11.0"
Hallo Till,

I get the following error with WordPress when using HipHop VM 3.11.0 (rel), all works fine with PHP 5.6. The object-cache.php file is equal to redis-cache/includes/object-cache.php. It does not matter if the plugin is active or not.

WordPress: 4.4
Redis-Cache: 1.2.1

Fatal error: Uncaught TypeError: Argument 2 passed to stream_set_blocking() must be an instance of int, bool given in

[2015-12-18 14:15] tillkruss commented on #20
It looks like HHVM's Redis extension is calling `stream_set_blocking()` with `true` instead of `1`: https://github.com/facebook/hhvm/blob/master/hphp/system/php/redis/Redis.php#L1653

I'd recommend that you open a issue in the HHVM project.

[2015-12-18 14:15] #20 closed

[2015-12-18 16:30] BernardZijlstra commented on #20
Okay wil do thanks.

[2015-12-18 16:37] BernardZijlstra commented on #20
Pull request has been filed and accepted https://github.com/facebook/hhvm/pull/6664

[2016-01-08 10:13] szepeviktor opened #21 "Repo link"
Could you set https://wordpress.org/plugins/redis-cache/ as repo URL? On the top of this page
https://github.com/tillkruss/Redis-Object-Cache there's an `Edit` link for you.

[2016-01-08 10:35] tillkruss commented on #21
Done.

[2016-01-08 10:35] #21 closed

[2016-01-08 10:36] szepeviktor commented on #21
THanks.

Do you know https://github.com/pantheon-systems/wp-redis ?

[2016-01-08 10:40] tillkruss commented on #21
Yes. I wanted to offer a plugin that supports Predis as well.

[2016-01-08 10:41] szepeviktor commented on #21
OK.

[2016-01-21 18:42] firmanherdiansyah commented on #1
You all save my life . thanks for solving this issue

[2016-02-02 22:21] #17 closed

[2016-02-02 22:21] #18 closed

[2016-02-12 18:14] szepeviktor opened #23 "Typos PCEL -> PECL"
https://github.com/tillkruss/Redis-Object-Cache/search?utf8=%E2%9C%93&q=PCEL

[2016-02-12 18:49] tillkruss commented on #23
Fixed in 1b7213db44e9954d6ce93ac971b495438b2c896d

[2016-02-12 18:49] #23 closed

[2016-02-15 22:27] zorrobyte opened #24 "Shared environment security"
Redis is designed to only be accessed by trusted users. Some other WP Redis plugins have a NONCE_SALT variable that I assume is used for this issue.

I'd like to deploy a shared instance where multiple users will be sharing a single Redis instance. The issue is that any user can overwrite any other user's data. A malicious user could easily replace another user's cached content and for example, de

[2016-02-16 16:52] jeremyclarke commented on #24
Redis has support for multiple databases: http://www.rediscookbook.org/multiple_databases.html

There's a config option you can use to give each site it's own database. We use it to isolate our test sites into one database and all the live sites into another one. In our case we do it so we can flush the test caches without affecting the live site.

It functions based on simple numbers (1,2,3) repr

[2016-02-17 23:41] tillkruss commented on #24
@zorrobyte Could you provide a link that uses the `NONCE_SALT`?

[2016-03-03 05:13] docmattman opened #25 "Ability to disable caching from config file constant?"
During development, I'd like to have caching turned off.  Is there a way I can set a config constant like `WP_DISABLE_REDIS_CACHE` that would turn off the object caching?  If this isn't available, I'll suggest doing something like the following (which could replace the current object-cache.php drop-in file and still make everything function the same when not disabled):

*wp-content/object-cache.ph

[2016-03-03 05:15] tillkruss commented on #25
You can just delete the `object-cache.php` in `/wp-content/` or disable the cache via the UI.

[2016-03-03 14:05] docmattman commented on #25
Yes, but if I do that, its harder to re-enable later. The object-cache.php file will be deleted, and I'll have to manually copy it back for it to work again.  It would be nice to be able to disable and re-enable it without the extra step. The code I put above should accomplish that and avoid copying the code feom the includes/object-cache.php file.

[2016-03-03 17:20] tillkruss commented on #25
What if you keep the `object-cache.php` in your code repository, so it will be deployed to your production environment, but you delete the file on your local development setup?

[2016-03-06 18:23] docmattman commented on #25
I definitely could do that.  I was more looking for a way to turn it on/off easier.  A quick config variable change seems like the easiest to me.  Not a huge deal if it can't be done.  Just a nice-to-have convenience feature.

[2016-03-07 04:37] tillkruss commented on #25
If more people request this feature, I'll implement it. For now your solution is much of a major change.

[2016-03-07 04:37] #25 closed

[2016-03-07 16:16] jeremyclarke commented on #25
FWIW I would welcome this change too, especially since it's so small and unlikely to break anything.

Using the UI works okay, but in a Git-controlled environment I'd rather not depend on WP moving files around if I can avoid it.

Personally I use the redis object cache when developing locally because I want to test the caching throughout the process, and when I want to disable it I just use the c

[2016-03-07 16:35] tillkruss commented on #25
Yeah, I totally get the use-case of this. I ran into this issue as well during development.

I'm not keen on requiring other files in `object-cache.php` (other than Predis). If you guys wanna check out all other object cache backends and see if anyone does it relatively smart, I'm happy to copy their approach.

[2016-03-08 05:15] docmattman commented on #25
The code I presented above only includes the default `object-cache.php` file that comes built into Wordpress and you're own file (no other 3rd party code).  Basically, it just checks a `WP_DISABLE_REDIS_CACHE` config constant and if it's true, it will default back to "stock" Wordpress.  If it's false, it will load up your cache plugin just the same.  I've replaced my `object-cache.php` with the co

[2016-03-08 05:53] tillkruss commented on #25
I understand the code.

I suggest you improve it and run it for a while and see how that goes. Make sure you cover if someone deactivates the plugin, or deletes the plugin folder.

[2016-04-06 23:40] nlsun opened #26 "Redis master-slave replication"
Support for Redis master-slave replication. To implement it this plugin needs to additionally direct reads and writes to different redis servers.

[2016-04-06 23:50] tillkruss commented on #26
I was thinking about this the last couple if days. Only Predis supports sharing and replication, HHVM and PHPRedis do not.

Could you tell me more about what exactly you had in mind?

[2016-04-06 23:56] nlsun commented on #26
I was think that the burden of configuring replication would be managed by the user.

I'm not entirely sure how this works but I think it would be sufficient if you could just configure in this plugin "If I do a write go to this server" and "If I do a read go to this server" then that will be enough.

[2016-04-07 00:01] tillkruss commented on #26
Okay, so only replication, no clustering or client sharding?

[2016-04-07 00:06] nlsun commented on #26
I think replication is alot easier as a first step. Not sure what everyone is using in their own setups but i'd image master-slave is a pretty common scenario.

[2016-04-07 00:20] tillkruss commented on #26
I was thinking to make PHP7 a requirement for replication. If people care about performance they are probably using PHP7 and the plugins could reply on array constants.

[code]

[2016-04-07 00:32] nlsun commented on #26
Also, I was checking out Predis (https://github.com/nrk/predis) and it seems like they have support for master-slave replication

[2016-04-07 01:45] nlsun commented on #26
actually, is it an issue if you only offer these features (redis cluster, redis replication) if predis is selected?

[2016-04-07 01:47] tillkruss commented on #26
No, I was thinking to make replication only work with Predis and PHP7.

[2016-04-07 16:22] esobczak1970 commented on #26
I think it would be wise to allow for configuring an unlimited number of redis servers. And then being able to choose one write target and one read target. Beyond that it is my understanding that to do the clustering for example you'd implement haproxy making it the target of read or write or both. The haproxy would then switch between the actual redis servers based on availability and load.

By d

[2016-04-07 17:08] nlsun commented on #26
I actually think stuff like slave promotion all other other features should be handled out of band. For example, there is Redis Sentinel. This plugin should be kept as simple as possible and just be really good at reading and writing. Where those reads and writes actually go can be configured through other methods (eg. haproxy).

[2016-04-07 17:33] esobczak1970 commented on #26
If I want writes for example to go to a master and reads to go to local host on my app servers of which there are 3 so I would have 3 slaves. There is not a way to configure this. And even if I configure haproxy it seems to me it could be used to balance for example 3 slaves for reading but they would also have to accept writing which would need replication to do any good. And yes in some ways the

[2016-04-07 17:50] tillkruss commented on #26
Maybe one of you could write a couple of common scenarios and how the Predis configuration would look?

[2016-04-07 20:14] nlsun commented on #26
But we can solve that with 2 simple configuration options: read_host and write_host. So in your scenario you would write to your master and read from localhost

[2016-04-07 20:17] nlsun commented on #26
I want to know how predis supports clustering and replication before making such a design decision though.

[2016-04-07 20:23] tillkruss commented on #26
See Replication and Cluster: https://github.com/nrk/predis#aggregate-connections

[2016-04-07 20:41] esobczak1970 commented on #26
I'll put together a few scenarios when I get a chance.

Eric

-----Original Message-----
From: "Till Krüss" <notifications@github.com>
Sent: Thursday, April 7, 2016 1:50pm
To: "tillkruss/Redis-Object-Cache" <Redis-Object-Cache@noreply.github.com>
Cc: "Eric Sobczak" <eric.sobczak@lakeshore-rv.com>
Subject: Re: [tillkruss/Redis-Object-Cache] Redis master-slave replication (#26)

Maybe one of you cou

[2016-04-07 22:20] esobczak1970 commented on #26
Correct that is why we need the separate read and write. Though if we want to be able to get stats of an info summary from different servers it would come in handy to be able to configure them all.

But your right at least having that at the plugin level would help greatly.

Eric

-----Original Message-----
From: "Nicholas Sun" <notifications@github.com>
Sent: Thursday, April 7, 2016 4:14pm
To: "t

[2016-04-10 21:36] #24 closed

[2016-04-10 21:53] tillkruss commented on #26
Configure a cluster:
[code]

Configure Master-Slave:
[code]

Thoughts?

[2016-04-10 22:23] nlsun commented on #26
What does the `database=10` part mean?

[2016-04-11 01:18] tillkruss commented on #26
The numeric id of the database. 10 is just an example.

[2016-04-11 01:31] tillkruss commented on #26
Let me know if it works:
https://github.com/tillkruss/Redis-Object-Cache/tree/aggregates

[2016-04-11 22:29] esobczak1970 commented on #26
So our host has this configured for us at present

Redis is now running as master-slave on db1-new and db2-new.

With shut down of redis on db1-new, the redis instance on db2-new should automatically be promoted to master.

It works in conjunction with HAproxy on each web server, so please utilize the hostname of `bal` for redis operations.

Using the bal host will direct the connections to the ne

[2016-04-11 22:55] tillkruss commented on #26
Can you please make sure that the Predis library supports that setup?

Also, check out the `aggregates` branch. I’ve already implemented clusters and replication. Please test it and feel free to submit PRs.

Cheers,
Till

[2016-04-12 16:24] esobczak1970 commented on #26
Predis just facilitates the connection via PHP I think it's really in the object-cache.php that you would facilitate a trigger to write at one target versus another.

Eric

-----Original Message-----
From: "Till Krüss" <notifications@github.com>
Sent: Monday, April 11, 2016 6:55pm
To: "tillkruss/Redis-Object-Cache" <Redis-Object-Cache@noreply.github.com>
Cc: "Eric Sobczak" <eric.sobczak@lakeshore-

[2016-04-12 16:34] tillkruss commented on #26
Please read the Predis docs.

[2016-04-29 01:41] tillkruss commented on #26
Replication and clustering will be included in `v1.3`.

[2016-04-29 01:41] #26 closed

[2016-04-29 04:17] asasmoyo opened #28 "Status: Not Connected after updated to 1.3"
Status:	Not Connected
Client:	PECL Extension (v2.2.8-dev)

The redis configuration still use the old configs, but it says not connected. I use php 7.0.3 on centos.

[2016-04-29 04:27] tillkruss commented on #28
Does it work when you use `v1.2.3`?

[2016-04-29 04:28] asasmoyo commented on #28
I am not sure about the version number. But it should be the version before 1.3 update.

[2016-04-29 04:32] tillkruss commented on #28
I really need to write tests.

Could you please try and replace line 339:

[code]

With this line:

[code]

And let me know if it works then?

[2016-04-29 04:36] asasmoyo commented on #28
Oh nice! It says connected now :D.

[2016-04-29 04:40] tillkruss commented on #28
Thanks a lot! I'll release a v1.3.1 in a few minutes.

[2016-04-29 04:40] #28 closed

[2016-05-03 17:33] tillkruss opened #30 "Write Unit Tests"
`includes/object-cache.php` needs unit tests.

[2016-05-13 03:46] DuckDagobert opened #31 "Master/Slave with phpredis"
Hey Till,

I saw you integrated Master/Slave with predis already, but predis is way too slow/ressource intensive for a live environment.
Could you integrate the master/slave with phpredis too?

[2016-05-13 04:16] tillkruss commented on #31
I know, it's better with PHP7/Opcode caching.

As far as I know PhpRedis doesn't support replication or clustering.

[2016-08-02 14:47] svandragt opened #34 "Batcache compatibility"
This plugin has a great opportunity to be compatible with Batcache page cache which is built for memcached but would happily use Redis to speed up webpages. The only problem is that Batcache checks for support for the 'inc' method in the WP_Object_Cache but this plugin replaces the class but instead of inc names the method increment.

Is this done to avoid any known issues and if not would you con

[2016-08-02 16:32] tillkruss commented on #34
Could you post a link and line number to the Batcache source file that's checking for the `inc()` method?

[2016-08-03 08:59] svandragt commented on #34
https://github.com/Automattic/batcache/blob/master/advanced-cache.php#L391
https://github.com/Automattic/batcache/blob/master/batcache.php#L12

[2016-08-03 17:03] tillkruss commented on #34
Could you add this alias method to your setup and see if it works well with Batcache?

[code]

[2016-08-03 18:03] svandragt commented on #34
Yes that works a treat.

Thanks, Sander

On 3 Aug 2016, 18:40 +0100, Till Krüss <notifications@github.com>, wrote:

[2016-08-03 18:15] tillkruss commented on #34
Great. Could you run that in production for a while and if it's going well, we merge it into the next version.

[2016-08-04 09:07] svandragt commented on #34
On review I think it should be:
[code]

wp-includes/cache.php:593 the incr function requires a return value.

[2016-08-04 15:58] tillkruss commented on #34
Nice catch. Keep me posted on how your Batcache+Redis setup is running in production.

[2016-08-05 06:07] pawawat opened #35 "Could you provide the way to get redis client object"
Could you provide the way to get redis client object. for example make $redis attribute of WP_Object_Cache a public attr

[2016-08-05 15:20] tillkruss commented on #35
Could you explain what you need it for?

[2016-08-05 15:21] #31 closed

[2016-08-05 18:57] pawawat commented on #35
I want to utilize $redis object to do some task. if I can use your $redis object, I will have not to initiate a new connection

[2016-08-06 12:48] tillkruss commented on #35
Added in https://github.com/tillkruss/Redis-Object-Cache/commit/52834c46e66777f67349f18834b11f64add86717.

[2016-08-06 12:48] #35 closed

[2016-08-10 19:30] alpipego opened #36 "Fails to load on non-standard WordPress directory structures"
In `object-cache.php` line 400 the predis extension is required from `WP_CONTENT_DIR` . 'plugins'`. This fails if I move my plugin dir.

[2016-08-10 19:52] #36 closed

[2016-08-11 10:28] alpipego opened #39 "Composer Installation Path Differs from WordPress Repository Path"
As the title says, when installing the plugin from github via composer (as I did to get the fix for #36) the same include path does not work because it checks for `WP_PLUGIN_DIR . '/redis-cache/includes/predis.php`. With composer (from github) the plugin resides in `/redis-object-cache/`.
I am aware of a workaround (targeting this package explicitly in `installer-paths`), what do you think would b

[2016-08-11 15:04] tillkruss commented on #39
I'm not sure, I never installed the plugin via Composer. What do you have in mind?

[2016-08-11 15:21] alpipego commented on #39
The easiest solution for me would be to change the package name to `redis-cache`. You could mark the package `tillkruss/redis-object-cache` as "abandoned" and superseeded by `tillkruss/redis-cache`.

I can't tell you however if (or how much) that'll cause problems for users already installing via composer from github. It shouldn't however, cf. https://packagist.org/packages/quandigital/wp-libs

[2016-08-11 15:25] alpipego commented on #39
And composer would even warn the user:

<img width="901" alt="screenshot 2016-08-11 17 24 00" src="https://cloud.githubusercontent.com/assets/2003667/17594144/88e1142e-5fe8-11e6-9b56-5c51c5d3c7f0.png">

[2016-08-11 15:43] tillkruss commented on #39
Thanks, I'll will do that.

[2016-08-11 15:43] #39 closed

[2016-08-11 15:48] svandragt commented on #34
Just for the record this has been in production for a week without issues and we are experiencing an improvement compared to our previous memcached solution both in terms of load and performance. Thanks for your hard work on the plugin :)

[2016-08-11 15:48] tillkruss commented on #34
Great, love hearing that!

[2016-08-22 05:26] pawawat commented on #35
Thank you. BTW, When will you release a new version?

[2016-08-22 16:48] tillkruss commented on #35
In a couple of days.

[2016-08-26 16:42] pawawat opened #41 ""flush cache" flush all cache on shared redis"
I try setup two wordpress instances and setup unique WP_CACHE_KEY_SALT for each one. When I click "flush cache", plugins flush cache of two instances instead of flushing cache only on that wordpress instance

[2016-08-26 16:52] tillkruss commented on #41
Redis's `FLUSHDB` command works per database, so you'd need to use different databases for each installation to prevent that.

The alternative, walking through all keys in the database and checking it's prefix isn't performant. However, if you *really* need that feature, feel free to submit a PR with a feature flag.

[2016-08-26 16:52] #41 closed

[2016-08-31 22:58] shaneog opened #42 "Auto activate?"
Is there a way to auto-activate the cache?
I'm adding this to a Docker deployment and I'd like a way to activate the cache automatically.

[2016-08-31 23:21] tillkruss commented on #42
This should do it.

[code]

You could also submit a PR that add WP CLI command for it specifically. That would be neat.

[2016-08-31 23:21] #42 closed

[2016-09-17 19:25] tillkruss opened #43 "Flush cache precautionally"
The Redis cache should be flushed:
- after plugin activation
- after dropin activation

[2016-09-17 19:26] tillkruss opened #44 "WP CLI commands"
- Activate/deactivate dropin
- ...

[2016-09-18 03:32] tillkruss commented on #43
Done.

[2016-09-18 03:32] #43 closed

[2016-09-19 02:06] tillkruss commented on #44
Done.

[2016-09-19 09:31] stayallive opened #45 "Remove `comments` from the ignored groups for WP 4.6"
Since 4.6 comments can be cached by a persisten storage, would be nice to reflect this here. However I was not sure how this should be handled. I think there are 2 options.

1. Add a note to the docs saying that when you are on 4.6 you should define `WP_REDIS_IGNORED_GROUPS` with `['counts']`
2. Add a WP version compare check to the `WP_Object_Cache` constructor and remove comments if `WP_REDIS_IG

[2016-09-19 16:41] tillkruss commented on #45
Thanks!

I've updated the ignore groups in 7f3dfd1005c8ac93362cb14460e96cf959f5cce1 and extended the global groups in bead50c90ca3cdf95a20067274eb59f459e98850.

[2016-09-19 16:41] #45 closed

[2016-09-19 16:42] #44 closed

[2016-09-19 17:51] stayallive commented on #45
Thanks for the quick one!

[2016-10-18 20:56] tillkruss opened #48 "WP Stream Support"
https://github.com/xwp/stream/wiki
https://github.com/xwp/stream/wiki/Connectors-Reference
https://github.com/xwp/stream/wiki/Creating-a-Custom-Connector

[2016-11-03 17:06] tillkruss opened #49 "Add Diagnostics"
- Is `Redis` installed.
- HHVM or PHP Version.
- What are the config values?

[2016-11-03 18:00] #49 closed

[2016-11-04 02:29] tillkruss commented on #48
Too much work...

[2016-11-04 02:29] #48 closed

[2016-11-06 06:13] tillkruss opened #50 "Page Cache"
If anyone is interested in helping me test a Batcache fork to enable page caching, leave a comment below.

[2016-11-06 18:43] #50 closed

[2016-11-07 02:13] tillkruss commented on #34
@svandragt: v1.3.5 includes a some more Batcache related changes. Let me know if you're experiencing any issues.

[2016-11-07 02:14] tillkruss commented on #17
@portablesoft: v1.3.5 includes a some Batcache related improvements. Let me know if you're experiencing any issues!

[2016-11-07 09:09] svandragt commented on #34
Thanks for the headsup.

On 7 November 2016 at 02:13, Till Krüss <notifications@github.com> wrote:

--
~Sander

[2016-11-18 13:07] pjv opened #52 "respect key salt when purging?"
i don't know about anyone else, but i was kind of assuming that having defined a specific salt for a given WP site that when i used the "flush cache" button in the redis settings for that WP site that i would only be flushing cache entries that matched that key salt.

for a server that has more than one WP site, and if you are also using redis for page caching like i am, hitting that flush cache b

[2016-11-18 16:51] tillkruss commented on #52
Yes, that would be nice, send a PR! Checkout https://github.com/tillkruss/redis-cache/pull/33/files as well.

The best practise right now is to use a separate Redis database for each installation and this should remain the the default for now.

Your alternative delete method should be:
- enabled by a constant
- and only be effective in multisite environments
- or when a cache key prefix is set

[2016-11-18 17:07] pjv commented on #52
i don't use WP multi-site - though i do have multiple separate WP installs per server. and i did see that existing multi-site PR. assuming that gets merged at some point, and given that i don't use multi-site, i was envisioning my patch as filling a similar role but for non-multi-site.

i was thinking that it would be enabled by having set the cache key prefix constant. but maybe that's too big a

[2016-11-18 17:11] tillkruss commented on #52
Yeah, definitively introduce another constant aside from `WP_CACHE_KEY_SALT`, for backwards compatibility. I'd also rather see your LUA script than the other PR to be honest, if you don't add Multisite support, I will after it's merged.

[2016-11-21 21:24] pjv commented on #52
ok, i have this working on my dev machine. anyone interested can take a look at this branch in my fork: https://github.com/pjv/redis-cache/tree/flush-cache-with-key-prefix

before i submit a PR, i'll run it on one of my production servers for a bit to make sure it seems robust.

i looked at a lot of different implementations of lua scripts for this purpose in the blogosphere and stackosphere. in t

[2016-11-22 02:05] tillkruss commented on #52
Sounds good 👍

[2016-11-22 15:37] pjv commented on #52
i put the plugin on a production machine that serves two busy sites. both of them make heavy use of redis caching for objects and also page caching. after i installed my version of the plugin, i did a flush on each and there were quite a number of object keys in there. the flush worked fine and didn't take a long time. most importantly, flushing one site's object cache didn't mess with the other s

[2016-11-22 20:24] tillkruss commented on #52
Nice. I'll probably rename the constant and add multisite support when you submit the PR.

[2016-11-27 21:51] #52 closed

[2016-12-07 17:37] shafeeqts commented on #1
i got this issue 1st time when update to 4.7

bro @tillkruss can you explain about to do this --> "Try to flush the entire Redis database."

note: am not advanced user and simple user.

thanks advance :)

[2016-12-07 17:42] tillkruss commented on #1
@shafeeqts: It depends on your setup, the easiest way is to use `redis-cli` to connect to your Redis server and then execute `FLUSHDB`. Alternatively you can use WP-CLI on your server and execute `wp cache flush`.

[2016-12-07 17:44] shafeeqts commented on #1
don't know about redis server, execute flushdb, etc

that's good if give step by step guide.

[2016-12-07 17:45] tillkruss commented on #1
Sorry, caching is not for beginners. Please Google it or ask your hosting provider for help.

[2016-12-07 17:46] shafeeqts commented on #1
ok  thanks  :)

[2017-02-13 03:09] vinerz opened #54 "Does persistent connection help on anything?"
I am getting around 4k AUTH requests on my Redis instance per minute. I was thinking about enabling Predis persistence in order to drop this number, but as I can see inside object-cache, there's no config option to set it before the connection happens.

First of all, will a persistent connection work with the way the plugin works today?
Will this help on anything or is it just a non effective appr

[2017-02-13 03:49] tillkruss commented on #54
What driver are you using?

[2017-02-13 04:59] vinerz commented on #54
I am currently using Predis v1.1.1

[2017-02-13 05:51] tillkruss commented on #54
What are the specs of your Redis server? And are you seeing any particular metrics maxing out? Even small instances usually handle thousands of requests per second without any issues: https://redis.io/topics/benchmarks

Generally we can add persistent connections to the object cache drop-in, but that might lead to other, new issues that are generally hard to debug.

[2017-02-13 05:53] tillkruss commented on #54
Another idea might be looking at your server with Blackfire and see how much the AUTH requests really slow down your site.

[2017-02-15 01:27] andrewmclagan opened #55 "Support redis-sentinel configuration"
Currently this plugin does not support red-sentinel configuration. Although since it does support Predis this is very straight forward.

The issue is in the configuration approach:

[code]

The `replication` option needs to be set to 'sentinel' not `true`. So would it not be better to have the value of `WP_REDIS_SERVERS` passed directly into the ` $options[ 'replication' ]` variable?

Also a new c

[2017-02-15 01:28] andrewmclagan commented on #55
A valid predis config for redis-sentinel looks like:

[code]

[2017-02-15 01:29] andrewmclagan commented on #55
I mean... i would even love to have a filter so we can inject our own `Predis\Client` instance.

[2017-02-15 01:35] tillkruss commented on #55
Yeah, a filter for the Predis instance would be idea, or maybe even just for the Predis constructor arguments. You might run into issues with that in case `apply_filters()` isn't defined that early. Would love to see a tested PR.

[2017-02-15 01:35] #55 closed

[2017-03-04 02:14] cookiesowns opened #58 "Issue with Redis-Cache & Cache Invalidation / Update"
Hi,

Currently we're running redis-cache in production. It appears there is sometimes an edge-case once our redis store has many keys ( 7mill+ ) where once a key is set, eg `user_meta` the key even when updated via update_user_meta, it is never updated in the redis-cache. This is no bueno as even when the user_meta is changed in DB... the redis-cache continues serving stale values.

It's only when

[2017-03-04 02:27] tillkruss commented on #58
Can you narrow down the code that's setting/reading the user meta that's stale?

[2017-03-06 16:08] tillkruss commented on #54
Closing this due to inactivity.

[2017-03-06 16:08] #54 closed

[2017-03-06 16:09] #30 closed

[2017-03-13 19:37] cjhaas opened #60 "Wrong version/label reported"
Unless I'm missing something, the version number reported in diagnostics is the version of PhpRedis, not the version of Redis itself.

For instance, PhpRedis is on version 3.1.1 while Redis itself is on version 3.2.8.

For the short-term I think it might be a good idea to re-label that key just to avoid confusing sysadmins (like me). In the long term it might be better to query `$redis->info( 'ser

[2017-03-13 20:05] tillkruss commented on #60
Yeah, I encountered the same problem and fixed it in https://github.com/tillkruss/redis-cache/commit/664b9624368b6a27850ecb4027998cd9d2665e6b#diff-2436611eee3cca795acb2d69b494fa32, just haven't released a new version yet.

[2017-03-13 20:05] #60 closed

[2017-05-13 23:49] kevinlisota commented on #58
@tillkruss We're actually seeing something similar here. Our cache grows to about 3.5M keys when it's been running for a couple of days.

On a "fresh" cache, everything works as expected. But at some point, the cache begins returning stale results, even though the DB has been updated with different values.

The most obvious place we see it is on the admin console when setting options or meta value

[2017-05-14 00:05] tillkruss commented on #58
I assume the outdated cache data is plugin/theme related. In that case your issues is most likely caused by the theme or plugin(s) itself, because they don't handle their cached data properly. _Invalidating cache is one of the hardest things in computer science._

You can set a MaxTTL for all keys to keep the outdated cache data at bay, but it doesn't solve the problem of having outdated data.

I

[2017-05-14 00:38] kevinlisota commented on #58
Actually, the update_option issue I'm seeing could be related to how wordpress stores, caches and loads the alloptions array. Related bug in trac here:

https://core.trac.wordpress.org/ticket/31245

I'm looking at multiple plugins, and they are simply calling functions like update_option, delete_option, add_option and relying on core to do the wp_cache_set/wp_cache_delete functions which puts stuf

[2017-05-14 01:05] tillkruss commented on #58
Interesting. If you find anything, please feel free to make a PR.

One thing I forgot to mention was, you can always ignore certain cache groups that are troubling you (at least until WordPress fixes their stuff).

[2017-05-16 07:22] kevinlisota commented on #58
Here is a good workaround on the race condition on `alloptions`

https://github.com/Automattic/vip-mu-plugins-public/blob/master/misc.php#L66-L83

My suggestion, whether for Redis or other object cache, is to point users to this workaround until the issue in core is fixed. Otherwise you get strange/stale results when working with any autoloaded option, of which many can be quite important.

[2017-05-16 14:01] tillkruss commented on #58
Great! It probably makes sense to add this to this plugin until WordPress fixes the bug, eh?

[2017-05-27 07:39] kevinlisota opened #62 "igbinary support"
More of a question or feature request, but have you done any work or testing using igbinary as the serializer?

My understanding is that its usage is pretty easy. Just replace the calls to serialize and unserialize with igbinary_serialize and igbinary_unserialize, provided that you compiled PHP with the igbinary extension.

Seems it could save a lot of memory for object cache values, and reduce ov

[2017-05-27 16:50] tillkruss commented on #62
No, never looked into it. My bottleneck is usually the network itself, not size of the data. You're welcome to submit a PR!

[2017-07-02 22:19] kevinlisota commented on #62
Testing this out now. I thought this was as simple as replacing the calls to `serialize` and `unserialize` with their igbinary equivalents.

However, digging a little further here, it appears that the the plugin does some string checking to determine whether to serialize or unserialize. igbinary stores in binary form, not strings, so at first glance, this is a bigger change that I first attempted.

[2017-07-03 22:54] vincent-lu commented on #58
Hi @tillkruss and @kevinlisota, can you guys help me get started to implement this fix before WP core team decides on a solution?

@kevinlisota Reading https://core.trac.wordpress.org/ticket/31245 led me to https://wordpress.org/plugins/wp-lcache/ which seems to circumvent this issue. What object cache solution would you currently recommend for high traffic website?

[2017-07-03 23:08] cookiesowns commented on #58
@tillkruss For some reason I did not recieve notifications on the GH issue response....

That said, here's a ticket that I've opened with wordpress core.

https://core.trac.wordpress.org/ticket/40052

The issue isn't related to the theme, but rather how the core handles object caching with stale data. If the data is stale in the cache back end, but is correct in the DB ( due to a failed update to

[2017-07-06 04:24] kevinlisota commented on #58
@cookiesowns I tried out lcache with all sorts of problems. The development team responded to me with this:

https://wordpress.org/support/topic/heavy-iops-and-database-use/

It looks good in concept, but it is not ready. We use Redis with this plugin with good success.

There is a known race condition with object caching, unrelated to the cache, but a problem with WP core that still needs fixing.

[2017-07-07 04:50] vincent-lu commented on #58
Hi @kevinlisota I see you around `lcache` and WP's forums as I'm chasing a solution to the same problem.

Is it correct that you guys currently use `tillkruss/redis-cache` as your object cache solution on production, the those lines added anywhere in the WP includes (themes, plugins, whatever) https://github.com/Automattic/vip-mu-plugins-public/blob/master/misc.php#L66-L83

Has `lcache` ever worke

[2017-07-07 21:36] tillkruss commented on #58
Don't add the race condition fix in WordPress, put it in a MU-plugin.

[2017-07-17 12:47] abdusfauzi commented on #58
No wonder I kept on having issue with stale data. Thanks everyone :)

[2017-07-17 13:02] bdtech commented on #58
I have the max_ttl set at 10 minutes. Haven't seen this issue yet...

[2017-09-09 01:08] ahmed-sigmalux opened #63 "Sentinel configuration doesn't work"
I followed the directions in the readme and entered the following in my wp-config.php:

[code]

Of course Redis Sentinel instances are running on the above address. I've confirmed I can connect to the addresses via redis-cli.

In Redis Object Cache settings, however, I see this:

[code]

It seems Redis Object Cache is interpreting the Redis Sentinels as regular Redis servers. Am I doing something

[2017-09-09 01:32] tillkruss commented on #63
The configuration looks correct. I think you'll have to debug that step by step.

[2017-09-09 01:32] #62 closed

[2017-09-09 01:39] ahmed-sigmalux commented on #63
Any suggestions on how to debug? As I said, I can connect to the Sentinel instances via redis-cli so I'm not sure where to start.

[2017-09-09 02:01] tillkruss commented on #63
I'd just see what the `$parameters` and `$options` are that passed to `new Predis\Client()` and if they are as expected. If so, ask the Predis support team for help with it.

[2017-09-09 02:01] #63 closed

[2017-10-07 20:18] ahmed-sigmalux opened #64 "Flush object cache per network site?"
In a multisite setup, can the object cache be flushed per site instead of network-wide?

[2017-10-08 21:51] tillkruss commented on #64
No, see https://github.com/tillkruss/redis-cache/pull/33

[2017-10-08 21:51] #64 closed

[2017-10-09 02:22] ahmed-sigmalux commented on #64
After reading issue 33, is your position that you don't want to implement per-site cache flushing at all or that you want a pull request for per-site cache flushing that utilizes the existing salt and selective flush options?

[2017-10-09 13:41] tillkruss commented on #64
The latter. I'd be delighted to merge a good solution for it.

[2018-03-09 14:50] synotio opened #65 "PHP TypeError when using Sentinel"
Hi!

I'm trying to use redis-cache in conjunction with sentinel. I've configured it as mentioned in README.MD except i'm just using one sentinel server for development purposes:

[code]

When running a WP-CLI command such as `wp redis status` i get the following:

[code]

According to the commit logs, this plugin uses v1.1.1 of predis. Looking at line 10685 of includes/predis.php [here](https://gi

[2018-03-09 15:55] tillkruss commented on #65
I just pushed a regenerated Predis file, could you see if `dev-master` works for you?

[2018-03-09 16:07] synotio commented on #65
Thanks!

Not really, now I get the following instead:

[code]

[2018-03-09 17:54] tillkruss commented on #65
I'm out of office for the next two weeks, feel free to fiddle around with it and submit a PR.

[2018-03-15 15:33] #65 closed

[2018-03-21 16:48] AndreiIgna opened #67 "Version 1.3.6 breaks wp sites on some servers"
The latest version of the plugin causes a fatal error on some servers, disabling the whole site
`Fatal error: require(): Failed opening required 'phar://predis.phar/Autoloader.php' (include_path='.:/opt/sp/php7.1/lib/php') in /srv/.../public/wp-content/plugins/redis-cache/includes/predis.php on line 7`

This makes the frontend and wp-admin unusable, the only solution was to reverse the plugin vers

[2018-03-21 17:45] tillkruss commented on #67
I'll revert the Predis version this afternoon and release a new version. Thanks for the report.

[2018-03-22 16:25] #67 closed

[2018-03-22 20:48] dreaddymck opened #68 "Enabling object cache breaks wordpress."
Update redis plugin Version 1.3.7 .
Activate.
Site unavailable.

`[Thu Mar 22 15:45:00.200457 2018] [php7:error] [pid 13828] [client 192.168.0.100:52850] PHP Fatal error:  Uncaught Error: Class 'Predis\\Configuration\\ConnectionFactoryOption' not found in /home/user/Projects/wordpress.site.com/wp-content/plugins/redis-cache/includes/predis.php:9610\nStack trace:\n#0 /home/user/Projects/wordpress.s

[2018-03-23 01:25] tillkruss commented on #68
See https://github.com/nrk/predis/issues/413.

[2018-03-23 01:32] tillkruss commented on #68
@dreaddymck: Could you try downloading `dev-master` and see if that works for you? I'm now including the full Predis library since the single file version isn't supported anymore.

[2018-03-23 08:42] negrusti commented on #68
Meanwhile is there a way to globally disable automatic WordPress updates for the plugin - I have several thousands WordPress sites with the plugin installed, and not all can be easily accessed. My worst nightmare  right now is they will start going down at any moment

[2018-03-23 09:25] negrusti commented on #68
there is no dev-master branch?
from master:
[code]

[2018-03-23 13:04] nechry commented on #68
Hi, I get same issue, is a way to uninstall the plugin ?
I try wp plugin uninstall redis-cache, but I get
[code]

[2018-03-23 15:43] dreaddymck commented on #68
[code]
use:
`wget https://github.com/tillkruss/redis-cache/archive/master.zip`

Debug output below
enabling plugin
[code]
Activating plugin

[code]

[2018-03-23 16:02] tillkruss commented on #68
Fixed in 1.3.8.

[2018-03-23 16:02] #68 closed

[2018-03-23 16:17] tillkruss commented on #68
If you have trouble upgrading, be sure to delete your `object-cache.php` dropin.

[2018-03-23 18:11] nechry commented on #68
I updated but still get the issue

PHP Warning:  require_once(/var/www/nechry-automation.ch/wp-content/plugins/redis-cache/includes/predis.php): failed to open stream: No such file or directory in /var/www/myweb/wp-content/object-cache.php on line 462
Warning: require_once(/var/www/myweb/wp-content/plugins/redis-cache/includes/predis.php): failed to open stream: No such file or directory in /var/w

[2018-03-23 19:06] tillkruss commented on #68
See the comment above.

[2018-03-25 15:07] dreaddymck commented on #68
Version 1.3.8 Confirmed working.  Thank you  @tillkruss.

Closing issue.

[2018-03-27 21:49] PacoCro opened #69 "“Not Allowed to Access this Page” Error in WordPress"
Today when clicked to enable redis object cache inside plugin dashboard, I received following error:
“Not Allowed to Access this Page”.

I had to delete object-cache.php fom WordPress folder to resolve issue.

Now plugin is not working on my site, though.

Anyone know how to fix this and make plugin work again?

[2018-03-27 23:34] tillkruss commented on #69
There are dozens of factors that could cause this. Try flushing the cache and make sure only a single installation is using the same Redis database.

[2018-03-27 23:34] #69 closed

[2018-04-09 22:55] jiripik opened #71 "Redis Object Cache NOT compatible with WordPress 4.9.5 - wp-cron not running"
After I upgraded to WP 4.9.5 the wp-cron’s execution was not running any tasks running and I had to disable the addin Redis Object Cache. Once the addin was disabled, the wp-cron again started running well.

Is it a PHP setting problem or Redis Object Cache problem? I am running PHP 7.2.4

[2018-04-10 00:41] tillkruss commented on #71
Probably a WP issue. It's a good practise to flush the cache after upgrading WordPress.

[2018-04-10 00:41] #71 closed

[2018-04-10 06:02] jiripik commented on #71
Does not help. Even deactivating, reactivating the addin does not help. Even deleting the objectcache.php does not help. As soon as the Redis Object Cache is enabled, the wp-cron.php execution is not processing the cron entries.

Could be php related - the latest wp had some php 7 "improvements".

[2018-04-10 06:02] jiripik commented on #71
Would you have time for a quick remote session?

[2018-04-10 07:01] jiripik commented on #71
Could the cause be advanced-cache dropin WP-Rocket?

Status: Disabled
Client:
Drop-in: Invalid
Redis Extension: develop
Predis Client: 1.1.1
PHP Version: 7.2.4
Multisite: No
Dropins:
 - advanced-cache.php v by

[2018-04-10 14:51] tillkruss commented on #71
This plugin is just a cache backend used by WordPress, any application issues are either related to WordPress itself, plugins, themes or custom code.

I'm not sure what the cache group for the crons is, but you could try disabling that. Checkout the readme for more information.

[2018-04-10 14:55] jiripik commented on #71
I understand that and I have no idea why it stopped working after so long working fine.

If you would like to troubleshoot via a remote desktop, I am available.

[2018-04-10 14:56] tillkruss commented on #71
Sure, my hourly rate is $200 USD.

[2018-04-17 06:02] jiripik commented on #71
Thanks for the offer. Now, all works so I will take it next time.

Before WordPress 4.9.5, the plugin did work without PhpRedis. Before WordPress 4.9.5, also the PHP opcache did work. With the 4.9.5 upgrade the opcache was causing segmentation faults so I had to disable it and after I installed the PhpRedis, your plugin started again working!

THANK YOU AGAIN FOR ALL YOUR HELP.

[2018-04-20 11:05] abdusfauzi commented on #58
@ottok possible to share the whole snippet? or mu-plugin file?

Thank you 😀

[2018-04-20 15:16] tillkruss commented on #58
@ottok: I'm open to a PR!

[2018-04-23 20:32] michaelryanmcneill opened #72 "PHP Fatal error: Uncaught Error: Call to undefined method WP_Object_Cache::redis_status()"
I'm getting a PHP Fatal Error with 1.3.8. I'm not sure what I'm missing, but I've made sure to update the object-cache.php file. From what I can tell, seems that object-cache.php isn't being included? Any thoughts?

[code]

[2018-04-23 20:42] tillkruss commented on #72
Mhh, my guess is the `object-cache.php` you're using isn't actually the right one. Are you using any other cache plugins?

Can you try deleting the `wp-content/object-cache.php` and then acting the cache again?

[2018-04-23 21:40] michaelryanmcneill commented on #72
I did that twice, verified that the md5sums matched and tried making it a symlink to the file in the plugin directory. All yield the same fatal error result.

[2018-04-23 21:40] michaelryanmcneill commented on #72
Oh and no other caching plug-ins are enabled.

[2018-04-23 22:16] tillkruss commented on #72
Can you post your `/wp-content/object-cache.php` file in here?

[2018-04-24 16:02] michaelryanmcneill commented on #72
Absolutely, see this gist: https://gist.github.com/michaelryanmcneill/7f042afeae0a15b22966b89fe2b8d3f0

Also, here is the md5sum:
`37a0d02d0e0b7a04849a6b02d82be7bd  object-cache.php`

[2018-04-24 16:03] michaelryanmcneill commented on #72
Also, what is confusing is, if I run it via WP-CLI, I see the following output:

[code]

[2018-04-24 16:11] tillkruss commented on #72
Man. Where are you seeing that error?

[2018-04-24 16:13] michaelryanmcneill commented on #72
In the PHP error log. To reproduce, I go to the WP-Admin -> Settings -> Redis page. The page fails to completely load because of the fatal error. Looking in the error log, I see an entry that shows that error and stack trace.

[2018-04-24 16:27] tillkruss commented on #72
This is just really strange, I'm afraid I can't really do anything here without debugging this directly on your machine.

What I'd do is dump the `$wp_object_cache` global right on that admin page to see what is going on there.

[2018-04-24 16:34] michaelryanmcneill commented on #72
Yeah, I mean, I dumped the `$wp_object_cache` global, but there's not much usable data in there. What exactly should I be looking for?

[2018-04-24 16:38] tillkruss commented on #72
Call get_class_methods and get_object_vars maybe.

[2018-04-24 16:38] tillkruss commented on #72
On that object.

[2018-04-24 17:02] michaelryanmcneill commented on #72
Now we're getting somewhere though. Run via WP-CLI, the same result is:

[code]

[2018-04-24 17:51] tillkruss commented on #72
That makes sense. I assume a server restart would have revealed that. That's for letting me know.

[2018-05-04 17:19] jkosoy opened #73 "Caching WP JSON API?"
Apologies if this is not an issue -- my Google fu is failing me here. I'm using WP as a headless CMS and would ideally love to cache the calls from `/wp-json/v2` out of the box. It doesn't look like that's happening though -- is it supposed to? If not, is there a way to do it? Is that something in the scope of `redis-cache` or should this ticket be closed outright in favor of some other solution?

[2018-05-04 18:19] #73 closed, assigned to nobody

[2018-05-04 19:04] jkosoy commented on #73
👍 Thanks for the quick response!

I also tested using this in combination with [WP Rest API](https://github.com/airesvsg/wp-rest-api-cache), which works. Looks like that plugin stores the resulting JSON as a transient and effectively gets where I want. I'll look into further caching with your suggestions, but for now I'm pretty happy!

[2018-05-04 20:35] jerclarke opened #74 "WP_REDIS_IGNORED_GROUPS: Why is `counts` in there? I want to cache that group"
`WP_REDIS_IGNORED_GROUPS ` (formerly `->no_redis_groups`) controls the part of the object cache related to the `wp_cache_add_non_persistent_groups` function in core.

Groups added to this constant and thus registered in the plugin don't get cached ever.

On our site, this ended up being the biggest slowdown, because `wp_count_posts` uses that group to cache it's query, and for us that query is rea

[2018-05-04 21:12] tillkruss commented on #74
Yeah, I don't know either. I just followed the WordPress defaults. I'd say remove it and see what happens. Might it's just a relic.

[2018-05-04 21:12] #74 closed

[2018-06-08 17:42] chrissound opened #75 "Not connecting to socket file using predis"
I have the following constants:
[code]
I'm able to connect successfully via predis:

[code]

However the admin page has the status set as `Not Connected`:

![2018-06-08-17 40 16](https://user-images.githubusercontent.com/1499652/41172328-0fdd607e-6b43-11e8-999c-c57d06334d1b.png)

If I have a look at `object-cache.php` I don't see predis looking at the two constants above?

[2018-06-08 18:29] tillkruss commented on #75
Oh yeah, looks like this was removed and is still in the documentation. I'll remove that. Try connecting via TCP.

[2018-06-09 09:39] chrissound commented on #75
Hmm what is the reason for it's removal?

[2018-06-09 13:51] tillkruss commented on #75
Not sure. I think it was related to cluster support or something along those lines.

[2018-06-09 13:51] #75 closed

[2018-09-01 17:48] jonathanstegall opened #76 "Flushing cache by group"
Do you think it's feasible for this plugin to support flushing the cache by group? For example, if the default list of groups is like this:

For example if admins want to flush `site-transients` but preserve `userlogins` because doing a full flush would force users to have to log in again, there could be a list of buttons on the admin screen (and/or a parameter in the CLI command) that allows user

[2018-09-12 00:43] moisb opened #77 "How to solve "Uncaught RedisException: BUSY Redis" error?"
Hello, I have little knowledge of Redis, and I tested all the plugins until I chose this as the best. Reading the plugin forums in the WP public repository and the readme here, I got to that config:

**I set these settings in my wp-config:**
`define ('WP_REDIS_DATABASE', '1');
define ('WP_REDIS_SELECTIVE_FLUSH', 'true');
define( 'WP_REDIS_IGNORED_GROUPS', [
    'counts',
    'plugins',
    'userlo

[2018-09-12 20:49] tillkruss commented on #77
Try disabling `WP_REDIS_SELECTIVE_FLUSH`.

[2018-09-25 00:09] rjsears commented on #1
Just to jump in here, was having the same issue using Redis 4.1.1 and flushing the cache did the trick for me as well.

[2018-09-28 08:31] linxisp opened #79 "WP_REDIS_SHARDS and WP_REDIS_CLUSTER"
Hello Till,

How are you?

I'm contacting because we are using your Redis Object Cache wordpress plugin in a very high volume traffic website. We been using it for long and because things grow we have added redis sharding using twemproxy but we are having some issues now.

I'm trying to benchmark performance using sharding and clustering solution directly from your plugin but i'm having a hard tim

[2018-09-28 15:52] #77 closed

[2018-09-28 18:14] tillkruss commented on #79
Aha, that shouldn't be the case, `WP_REDIS_SHARDS` is supposed to show up. Can you submit a PR to fix this?

[2018-09-28 20:32] linxisp commented on #79
I'm not a dev so not sure how to do that properly :) also not sure if i'm doing something wrong with config, could you replicate this behavior?

Maybe README should be better documented for WP_REDIS_SHARDS and WP_REDIS_CLUSTER.

Thank you

[2018-10-01 16:52] linxisp commented on #79
Hello Till,

Seems that now shards is is showing in wp-admin as cluster does but it is not working and always Not Connected. This happens with both shards or cluster.

Thank you,

![cluster](https://user-images.githubusercontent.com/11174660/46302974-8154eb00-c5a2-11e8-8215-29a23aa813a5.jpg)
![redis](https://user-images.githubusercontent.com/11174660/46302980-844fdb80-c5a2-11e8-8b0e-9797456cb47d.j

[2018-10-01 18:09] tillkruss commented on #79
@linxisp: I'm afraid I can't help you configuring the cluster and it's connection parameters. I'd suggest hiring a developer or devops person for this to assist you.

[2018-10-09 12:32] c4l3b commented on #79
We're having a similar issue trying to use a Redis Cluster. The issue is that the PING command is not supported in a cluster, so the plugin thinks the connection never succeeds.
It totally works when the ping() command isn't ran (https://github.com/tillkruss/redis-cache/blob/08336b1e7fe9537065d932b2ec429abbfda9dab1/includes/object-cache.php#L494)

[2018-10-17 19:03] VGzsysadm opened #82 "WP_REDIS_PASSWORD permanent status : Not connected"
Greetings.

I saw the following command WP_REDIS_PASSWORD  it's seems not working with the last WPv4.9.8

The diagnostic error is this:

Status: Not Connected
Client: PhpRedis (v4.1.1)
Drop-in: Valid
Ping: PONG
Redis Extension: 4.1.1
Predis Client: 1.1.1
PHP Version: 7.2.11-2+0~20181015120801.9+stretch~1.gbp8105e0
Multisite: No
Global Prefix: "wp_"
Blog Prefix: "wp_"
WP_REDIS_CLIENT: "predis"
WP_R

[2018-10-21 03:44] partounian commented on #58
@ottok please

[2018-10-25 13:47] killua99 opened #83 "Support: Multisite flush cache"
Hi,

I was you allow to clear certains key when the definition to do it is defined. but, I'm looking something to clear the entire redis cache from a single site, and not the entire redis db cache.

I'm confuse if wp_cache_flush() will react only per site, and not the entire redis data, seems to clear the entire db tho.

There is a way to do this? to clear a single site in a multisite setup?
If no

[2018-10-25 15:11] tillkruss commented on #83
I'd suggest you look into how the object cache of WordPress works. You might also want to look at `WP_REDIS_SELECTIVE_FLUSH`.

[2018-10-25 15:11] #83 closed

[2018-10-25 15:36] tillkruss commented on #82
Means that the drop-in connected successfully to your Redis instance.

I'm not sure why it says `Not Connected`, you'll have to debug that.

[2018-10-26 07:14] killua99 commented on #83
is not that simple to use the `WP_REDIS_SELECTIVE_FLUSH` with `WP_CACHE_KEY_SALT`per multisite, there's no option or way to work nicely with it.

I wasn't confuse, it was clear, the flush will delete the database. I was concern about the UI button that flush it. I want to add a button to clear just the site cache and not the entire redis database.

[2018-10-26 13:58] tillkruss commented on #83
Feel free to submit a PR.

[2018-11-09 03:02] pySilver opened #84 "support for wp_suspend_cache_*"
Hi!

Shouldn't we support `wp_suspend_cache_invalidation` & `wp_suspend_cache_addition`. Otherwise it bloats local memory when doing huge imports.

[2018-11-09 15:45] tillkruss commented on #84
Can you submit a PR?

[2018-11-18 02:32] babatundebusari opened #85 "status not connected"
I am getting status not connected and here are what i have so far

![image](https://user-images.githubusercontent.com/6054104/48667911-6a654c00-eaaf-11e8-95db-bd2ad3546457.png)

[code]

Also when i connect to my wordpress server i am able to connect to the redis server via the hostname `redis` as used and also at port `6379`

[code]

also i have flushed the redis cache with both `flushdb` and `flu

[2018-11-18 04:48] babatundebusari commented on #85
fixed it..issue was that these two lines

[code]

was appended to bottom of `wp-config.php` file but i moved it up right after the
`define('DB_COLLATE', '');` line and it connected right away

[code]

[2018-11-18 04:48] #85 closed

[2018-11-18 06:17] Einkoro commented on #79
@tillkruss It doesn't look like the UI picks up WP_REDIS_PASSWORD when using WP_REDIS_SHARDS with the latest from master. Password is shown as No in the servers list for both shards.

[2018-11-18 21:38] tillkruss commented on #79
@Einkoro: I'll tag 1.3.9 soon, it's already fixed in master.

[2018-11-19 18:00] tillkruss commented on #82
@VGzsysadm: Did you figure it out?

[2018-11-19 18:10] tillkruss commented on #84
`wp_suspend_cache_invalidation()` seems to be handled by WordPress and 3rd party code.

I added a `wp_suspend_cache_addition()` check in 5b0fde4.

[2018-11-19 18:10] #84 closed

[2018-11-19 21:05] Camilo517 opened #86 "2 warnings PHP"
Hello :)
redis-cache/includes/predis/src/Collection/Iterator/HashKey.php
53 | WARNING | Function each() is deprecated since PHP 7.2; Use a foreach loop instead

redis-cache/includes/predis/src/Collection/Iterator/SortedSetKey.php
53 | WARNING | Function each() is deprecated since PHP 7.2; Use a foreach loop instead

[2018-11-19 21:11] tillkruss commented on #86
Hey! Would you mind reporting that here: https://github.com/nrk/predis ?

[2018-11-19 21:22] Camilo517 commented on #86
I already commented, thanks

Do you recommend any special configuration in woocommerce?

[2018-11-19 21:29] pySilver commented on #84
@tillkruss sorry for silence, my current env is not the best for PR so I had to hardcode this changes. I ended up to add this `wp_suspend_cache_invalidation` in a little bit different places than you:

\wp_cache_set

[2018-11-19 21:32] tillkruss commented on #86
Not really, WC seems to be using the WP cache well. If you run into issues, you can always disable the WC cache groups to avoid issues.

[2018-11-19 21:32] #86 closed

[2018-11-20 09:00] bherrero opened #88 "Use AWS Cluster with read-only replicas"
Hello,

we have a default AWS elasticache Redis cluster, and we would like to know if there's any chance of setting the plugin up to use one primary node (writable) and one or more replicas which are read-only.

Can this be done with this plugin? If so, how should we configure it?

Thanks so much.

[2018-11-20 21:03] tillkruss commented on #88
I don't think that's even possible technically. Isn't ElastiCache a "true" cluster anyhow?

I'd suggest the regular cluster configuration:
[code]

Feel free to experiment with the master-replica configuration tho:

[code]

[2018-11-20 21:03] #88 closed

[2018-11-21 00:56] bherrero commented on #88
Thanks for your answer. Well, it is possible. We've been working with that for a while with other projects. We'll try the options you're suggesting, thank you.

[2018-11-21 01:14] tillkruss commented on #88
When you get it to work, post your setup for others here please :-)

[2018-11-28 00:50] #82 closed

[2018-11-28 06:36] kevinlisota opened #89 "call to undefined wp_suspend_cache_addition"
Latest update (1.4.) threw this error on our site continuously when I installed it

PHP Fatal error:  Uncaught Error: Call to undefined function wp_suspend_cache_addition() in /var/www/mysite.com/wp-content/object-cache.php:584

Obviously `wp_suspend_cache_addition` is part of WP core. I'm guessing that object-cache.php is being loaded before that function exists, but haven't dug around to see wha

[2018-11-28 16:32] tillkruss commented on #89
Strange. Thanks for the report. I'll release an update shortly.

[2018-11-28 16:40] tillkruss commented on #89
@kevinlisota: Would you mind testing this version to see whether that fixes the issue?
https://github.com/tillkruss/redis-cache/archive/master.zip

[2018-11-30 18:08] tillkruss commented on #89
No need to worry about it. I'll release the update shortly.

[2018-11-30 18:08] #89 closed

[2018-12-18 16:48] soulseekah opened #90 "`redis_object_cache_get` called twice with reversed parameters"
The `redis_object_cache_get` action is also a filter but with switched parameters.

![image](https://user-images.githubusercontent.com/685880/50168763-39ba4180-02fd-11e9-8224-a5188423abf5.png)

The first parameter is they key when in an action and the value when in a filter. Actions are filters, filters are actions.

So when adding an action or filter it's called twice: once with the expected para

[2018-12-18 16:57] soulseekah commented on #90
I don't think 2 will work, as the action is now expected to return something as its callback is shared. This goes against the concept altogether.

So doing `add_action( 'redis_object_cache_get', function() ...` effectively breaks cache because the `appy_filters` call below will call the action a second time and get a `null` value. All caches are now `null`.

The only way to differentiate between t

[2018-12-18 17:01] soulseekah commented on #90
We opted in for a counter instead. For performance reasons:

![image](https://user-images.githubusercontent.com/685880/50169914-afbfa800-02ff-11e9-95dd-af4b9fa0fa26.png)

[2018-12-18 19:12] tillkruss commented on #90
It makes no sense that they have the same name. That was a sloppy merge of me in #29.

There are several actions, so I'd say let's rename the one filter as well as swap the parameter order.

How about this?

[code]

[2018-12-18 19:41] soulseekah commented on #90
The `apply_filters` should filter the value, not the key, so the parameter order for it is good.

It just needs the rename. I'll submit a PR shortly.

[2018-12-18 20:03] #90 closed

[2019-02-13 01:44] sarthaklyfcure opened #96 "Redis cache showing Status not connected"
Hey,, I installed redis object cache on my server and then uSed this plugin to flush the caches... This worked for me for 5 to 6 days.. after that. Status not connected os showing....
I'm also using fastcgi cache. But, both was working since 5 days...Today I got this error with redid cache.
The error is:

Status: Not Connected
Client: PhpRedis (v3.1.6)
Drop-in: Valid
Connection Exception: Redis se

[2019-02-13 02:13] tillkruss commented on #96
You Redis instance isn't reachable: `Redis server went away`.

[2019-02-13 02:13] #96 closed

[2019-02-13 03:03] sarthaklyfcure commented on #96
Could you please help me to make it reachable.

[2019-02-13 03:45] tillkruss commented on #96
Please ask your hosting provider or Stack Overflow for assistance.

[2019-04-08 05:43] floatbeta commented on #1
I have been having an issue where wp-admin is being cached.

[2019-04-08 05:49] floatbeta commented on #1
I fixed it.

#1. I am using Cloudflare so a page rule to bypass the cache.
#2. Redis Object Cache
#3. Nginx Cache
#4. Cloudflare page cache

[2019-04-26 01:12] desaiuditd opened #97 "Extend $fail_gracefully to other methods rather than only constructor"
**Context:**

The `WP_Object_Cache` class takes `$fail_gracefully` variable as parameter in its constructor. And the Redis Object Cache fails gracefully without throwing any exception if it fails to connect to Redis.

But this does not extend to other methods i.e., `add`, `replace`, `add_or_replace`, `delete`, `get`, `set` etc.

This is fine when the Redis connectivity is checked in the constructo

[2019-04-26 03:40] tillkruss commented on #97
This is great! I'm going to merge it next week 👌🏻

[2019-04-30 23:55] ethanclevenger91 opened #99 "Call to undefined method redis_status() when WP_REDIS_DISABLED"
The admin page for managing Redis throws a fatal PHP error if you've set `WP_REDIS_DISABLED` to true. Would be nice if this were a bit more graceful, probably notifying you that Redis has been otherwise disabled.

[code]

[2019-05-01 00:35] tillkruss commented on #99
Checkout #97.

[2019-05-01 00:35] tillkruss commented on #99
@ethanclevenger91: Can you post the error message?

[2019-05-01 00:39] ethanclevenger91 commented on #99
It's the one in the title. Call to undefined method
WP_Object_Cache::redis_status(). I'll look at that other issue

On Tue, Apr 30, 2019, 5:35 PM Till Krüss <notifications@github.com> wrote:

[2019-05-01 05:30] tillkruss commented on #99
Ah, thanks! I was rushing out of the door.

[2019-05-01 16:23] #97 closed

[2019-05-01 16:43] tillkruss commented on #99
@ethanclevenger91: Can you please post the entire stack trace, so I know where it's being called from?

[2019-05-03 09:12] gilbitron opened #100 "Error: The object cache could not be flushed"
This morning, after upgrading to 1.4.2, the `wp cache flush` command always returns the `Error: The object cache could not be flushed.` error. I can't seem to see any other errors in logs and running with `--debug` doesn't reveal anything either.

[2019-05-03 16:14] tillkruss commented on #100
Can you set `WP_REDIS_GRACEFUL` to `false` and see what happens then?

[2019-05-03 16:24] ethanclevenger91 commented on #99
I don't even get a full stack trace, oddly enough. No Debug Bar plugin.

So with your plugin, and its drop-in, active, I add `define('WP_REDIS_DISABLED', true);` to the wp-config.php file. Then navigate to Settings -> Redis and get the following:

![image](https://user-images.githubusercontent.com/2623646/57151198-24622300-6d85-11e9-9e97-43d37baded12.png)

If I cause other notices to be thrown bef

[2019-05-03 16:28] ethanclevenger91 commented on #99
Disabled all non-Redis plugins and made it to the settings page, though not without the same fatal error. But now I get the XDEBUG trace.

[code]

[2019-05-03 17:02] tillkruss commented on #99
Fixed in https://github.com/tillkruss/redis-cache/commit/807acff8bf8a44045bbbedd88507fd053f889eab.

[2019-05-03 17:03] tillkruss commented on #99
@ethanclevenger91: Can you download `master` and see if that resolves it for you as well?

[2019-05-06 10:29] wpmark commented on #100
I have added `define( 'WP_REDIS_GRACEFUL', false );` into the `wp-config.php` file but still get the same error message when I try to flush the cache.

[2019-05-07 02:58] tillkruss commented on #100
I can't reproduce this, what are your diagnostics saying under Settings -> Redis?

[2019-05-07 07:18] wpmark commented on #100
This is what shows under diagnostics.

[code]

[2019-05-07 08:46] gilbitron commented on #100
I also added `define( 'WP_REDIS_GRACEFUL', false );` to `wp-config.php` but still see the same error.

[code]

[2019-05-07 08:49] A5hleyRich commented on #100
I've been digging into this a little and have narrowed it down to this PR:

https://github.com/tillkruss/redis-cache/commit/0b11f778ae9289c92d0e631cd0d51d024aa0c3ae#diff-3ea3a8942f84c506446c32d498ac655dR994

Specifically, the curly braces. Removing them resolves the issue. However, I'm not sure of their intended use to raise a PR. I'm guessing removing them will have repercussions with RedisCluste

[2019-05-07 12:12] joonasvanhatapio opened #101 "Fatal error when plugin removed and object-cache.php in-use"
Hello,

I found a bug which causes the site crash after upgrading to the latest PHP 7.2 version.
When object-cache.php is left on the site, but the plugin uninstalled, the site gets a fatal 500 error causing site crash.

Ubuntu 18.04.2 LTS
- PHP-FPM: 7.2.18-1+ubuntu18.04.1+deb.sury.org+1 (cli) (built: May  3 2019 09:24:01) ( NTS )
- php-redis/bionic,now 4.2.0-1+ubuntu18.04.1+deb.sury.org+1 amd64
-

[2019-05-07 15:57] tillkruss commented on #101
Failing hard is probably a good thing in that case. In 1.4.3 there will be a better error message: https://github.com/tillkruss/redis-cache/commit/2df06b506e16236db912689572ab8963cfce72c8

If `WP_REDIS_GRACEFUL` is set, it won't fail hard anymore.

[2019-05-07 15:57] #101 closed

[2019-05-07 16:11] tillkruss commented on #100
Thanks for tracking this down. I don't understand nested hash slots TBH. The documentation doesn't seem to cover it.

[2019-05-07 16:13] tillkruss commented on #100
Can you guys use `master` for now? Or you need a version tagged? I'd love to wait until @boboudreau chimes in.

[2019-05-07 16:38] bradt commented on #100
Jumping in here since @gilbitron and @A5hleyRich are off (they're in the UK). We need it pushed to WP.org. Once that's done I'll be sending an email to all our customers asking them to upgrade to the latest version.

[2019-05-07 16:48] tillkruss commented on #100
Tagged.

[2019-05-08 08:17] gilbitron commented on #100
Thanks @tillkruss 👍

[2019-05-08 08:22] wpmark commented on #100
All good for me after the update 👍 Thanks @tillkruss

[2019-05-11 15:19] #99 closed

[2019-05-11 22:02] ethanclevenger91 commented on #99
Hey @tillkruss the new version did fix the issue - much more graceful. Thanks!

[2019-05-30 19:58] danielotte opened #103 "Automatically flush Redis cache after publishing a WordPress post"
Hi,

I have the following  #problem,
When publishing a news item, it does not appear until I empty the redis cache manually

[2019-05-30 20:21] tillkruss commented on #103
WordPress handles cache flushing internally. If you're using a plugin or programmatically adding posts you need to make sure you flush the cache for that post.

[2019-05-30 20:21] #103 closed

[2019-06-01 16:43] VGzsysadm commented on #1
Could you explain your scenario?.

I have exactly the same issue, i have a bypass for wp-admin in cloudflare

This is my config in wp-config:

//** Redis Config. */
define('WP_CACHE', true);
define('WP_REDIS_SCHEME', 'unix');
define('WP_REDIS_PATH', '/var/run/redis/redis.sock');
define('WP_REDIS_IGNORED_GROUPS', 'user_meta');

If i flush the cache the first logon works, the next one no.

[2019-06-03 22:56] Jon007 opened #104 "Error when negative expiry passed"
as discussed here,
https://wordpress.org/support/topic/error-when-trying-to-get-a-get-a-cache-not-available/
negative cache expiries result in:
ERR invalid expire time in setex in wp-content/plugins/redis-cache/includes/predis/src/Client.php:370

there could be and sometimes are circumstances where a negative expiry period is passed but WordPress cache.php api would not raise any error about a neg

[2019-06-03 23:22] tillkruss commented on #104
Do you have any suggestions, other than fixing this at WC's end?

I think an exception on Redis' end is quite good. I don't like silently overwriting issues.

[2019-06-04 07:16] Jon007 commented on #104
well yes,
if this was a completely independent plugin then an exception is ok.
but as this plugin implements an interface which does not have an exception on these values then it should not: as I wrote I would expect a negative expiry to cause a cache invalidation or deletion of previously cached object.

[2019-06-04 17:15] tillkruss commented on #104
So when `wp_cache_add()` is called with a negative expiry timestamp, it should forward the call to `wp_cache_delete()`?

[2019-06-04 17:29] Jon007 commented on #104
Well, it sounds logical yes.

[2019-06-04 18:17] tillkruss commented on #104
Cool. I'll keep this open to see if any other plugin has an issue with this, except that one line in WC.

[2019-06-15 09:15] naxvog commented on #76
Instead of flushing a cache group and having to deal with either a new function or a argument to `wp_cache_flush()` that both will not integrate well into the `wp_cache_*` functions there should be a list of groups that are _not flushable_ instead.
The flush itself should be fairly straigtforward as it would only require the selective flushing lua-script to be more specific:
```for _,k in ipairs(r

[2019-06-21 00:19] xpat opened #106 "Error: Object cache drop-in could not be updated"
The command _wp redis update-dropin_ doesn't update the Redis object cache drop-in but results in an error: Object cache drop-in could not be updated, preceeded by this:

Warning: copy(/var/www/example.com/wp/wp-content/object-cache.php):failed to open stream:  Permission denied in /var/www/example.com/wp/wp-admin/includes/class-wp-filesystem-direct.php, the permissions for which are: -rwxr-xr-x 1

[2019-06-21 01:22] tillkruss commented on #106
PHP/WP doesn't have permissions to write to your filesystem. You need to grant that.

[2019-06-21 01:22] #106 closed

[2019-07-04 01:05] ffxluca opened #107 "Need a way to specify timeout and retry_interval"
I am using redis-cache in a quite big production installation, paired with the pecl client (phpredis).

The latter allows specifying a few parameters like `timeout` and `retry_interval` (ref https://github.com/phpredis/phpredis#connect-open), and I'd very much like to do so, as the defaults are **0** which means **hang forever**.

I am not sure whether other non-pecl clients would allow these para

[2019-07-04 03:09] tillkruss commented on #107
Yeah, Predis supports it as well. Feel free to submit a PR.

[2019-07-16 17:24] #107 closed

[2019-07-26 13:41] maciej-laskowski opened #113 "WP-CLI commands fail when using redis-cache as mu-plugin"
Hi!

When I try to run `php wp-cli.phar redis enable` or `php wp-cli.phar redis update-dropin` while using redis-cache as a mu-plugin I get an error:

`Whoops\Exception\ErrorException: copy(/var/www/domain.com/web/app/plugins/redis-cache/includes/object-cache.php): failed to open stream: No such file or directory in file /var/www/domain.com/web/wp/wp-admin/includes/class-wp-filesystem-direct.php o

[2019-07-26 14:15] tillkruss commented on #113
You can use this plugin as a my-plugin. If you want support for that, please submit a PR.

[2019-07-26 14:15] #113 closed

[2019-08-15 10:01] maciej-laskowski opened #114 "Caching "counts" cache group"
Hi,

I am trying to remove `counts` from ignored cached groups. I did add
`define( 'WP_REDIS_IGNORED_GROUPS', ['plugins'] );` and checked if the constant is being loaded properly and it works. However it turns out that Wordpress runs `wp_cache_add_non_persistent_groups( array( 'counts', 'plugins' ) );` in wp-includes/load.php on line 586 (https://core.trac.wordpress.org/browser/branches/5.2/src/wp

[2019-08-15 22:57] tillkruss commented on #114
I don’t know why it’s disabled by default.

I also actually ever disabled the counts group. Let me know what you find out when digging into this.

[2019-08-16 06:58] maciej-laskowski commented on #114
The problem is I cannot find a way of enabling `counts` caching other than commenting out line https://core.trac.wordpress.org/browser/branches/5.2/src/wp-includes/load.php#L586 in WP core which is not a solution. I hoped you might know another way but it seems I should try asking WP core devs about this. Thanks anyway, I will report back if I ever find a solution :)

[2019-08-16 06:58] #114 closed

[2019-08-21 19:09] CyberCr33p opened #115 "REDIS with ACLs"
Hello. I am new to REDIS. I want to see if it's possible to use REDIS with ACLs ( https://redis.io/topics/acl ) for multiple wordpress installations in same REDIS instance. Is it possible with ACLs each wordpress to have access to add/remove only it's own keys and don't have access to other users keys?

[2019-08-21 23:00] tillkruss commented on #115
You can set a different Redis user for each installation, yup.

[2019-08-21 23:00] #115 closed

[2019-08-22 13:31] niciyan opened #116 "question about grobal_groups"
Hi

I have found your great plugin and read source files.
I got a question that I want to understand.
(I have no experience with wordpress plugin development.)

In object-cache.php, WP_Object_Cache class has $global_groups field.
It has 17 group names by default.

What is $global_groups used for?
Why you defined the default group names?

[2019-08-22 14:42] tillkruss commented on #116
That's multisite stuff.

[2019-08-22 14:42] #116 closed

[2019-08-23 13:03] niciyan commented on #116
Thank you for replying.
I will check it out more.

[2019-09-29 17:21] chrillep opened #117 "add support for json serializer in phpredis 5.0.0"
add support for the new json serializer in phpredis 5.0.0

[2019-09-29 20:39] tillkruss commented on #117
Can you submit a PR?

[2019-10-09 12:43] robita34 opened #119 "Bug ?? in WP_Object_Cache::build_key()"
https://github.com/tillkruss/redis-cache/commit/13216e313f9f1e56f2b4153b2888fc024f5f0e54#diff-3ea3a8942f84c506446c32d498ac655dR1187

Should the above code be the following code?

[code]

[2019-10-17 16:37] tillkruss commented on #119
Thanks!

[2019-10-17 16:37] #119 closed

[2019-10-17 17:03] tillkruss commented on #117
Will ship in `1.5.0`.

[code]

[2019-10-17 17:03] #117 closed

[2019-10-19 21:01] chrislarrycarl opened #120 "mb_strtolower dependency check"
Version 1.5 introduces use of [`mb_strtolower()` in the `build_key()` method of the drop-in ](https://github.com/tillkruss/redis-cache/blob/master/includes/object-cache.php#L1200). Some environments won't have the optional multibyte string package installed resulting in a function undefined error. It'd be ideal if there was a check for this function and a fallback or warning to users if they are o

[2019-10-19 21:31] tillkruss commented on #120
Thanks! I’ll fix that in the next version.

[2019-10-21 23:18] tillkruss opened #121 "Please consider donating 💖"
Developing, improving and maintaining open-source plugins takes a lot of time. Please consider sponsoring the development of this plugin, or one-off donations.

https://github.com/sponsors/tillkruss

[2019-10-26 16:25] kevinlisota opened #122 "multisite issue with PHPRedis serializer"
I am attempting to switch our site to use the phpredis serializer. We are using phpredis 5.0.2.

Our site is multisite, with two site IDs.

I turn on the serializer with this in wp-config.php:
`define( 'WP_REDIS_SERIALIZER', 'Redis::SERIALIZER_PHP' );

This results in the site not loading with these errors:

[code]

Not sure exactly what's happening here, though `site_ids` and `found_sites` are bo

[2019-10-26 16:39] lkraav commented on #122
I also had a very weird non-function result on a single site, whereas a couple of other installations have converted to `Redis::SERIALIZER_PHP` perfectly fine. :man_shrugging:

[2019-10-27 16:16] tillkruss commented on #122
Can you post the values that are stored in Redis for those two keys?

[2019-10-28 19:37] ethanclevenger91 commented on #88
@bherrero Did you ever get this working properly?

As far as whether or not it's possible, Elasticache provides two endpoints. Seems like I'm expected to use them:
![image](https://user-images.githubusercontent.com/2623646/67711646-a1123a80-f97f-11e9-94d4-78790a9cf6a4.png)

Right now there are two nodes, one "primary" and one "replica", and the replica one doesn't seem to be used.

[2019-10-28 19:56] tillkruss commented on #88
Yeah, currently read-only endpoints can’t be used. The upcoming business version will support it however.

[2019-10-31 16:06] naxvog opened #123 "Plesk issue with socket connection"
Using the default Plesk phpredis version (3.0.0) a socket connection will fail.
It seems as the additional parameters on the connection method introduced will cause this issue.
Connecting via `$this->redis->connect($parameters['host']);` will still work.

I would suggest adding a version check to the pecl connection process to avoid this issue as many Plesk users won't bother updating their phpred

[2019-10-31 16:57] tillkruss commented on #123
Thanks! Can you submit a PR?

[2019-11-01 13:18] naxvog commented on #123
Investigated further:
seems as phpredis introduced the parameter in [version 3.1.3](https://github.com/phpredis/phpredis/commit/b56dc49eec94bbb9b0e26aa3d16582c3590029d6) so we have to check for this particular version.

Will try to submit a PR in the coming days.

[2019-11-04 17:22] #123 closed

[2019-11-07 12:22] georgerushby commented on #113
Hi @tillkruss - your comment is a bit misleading. I am assuming that this plugin cannot be used as a mu-plugin?

[2019-11-07 17:12] tillkruss commented on #113
@georgerushby: That sounded drunk. I fixed it up.

At this point, only the [business edition](https://wprediscache.com) supports being a MU-Plugin.

[2019-11-13 19:11] kionez opened #126 "Flush don't work with WP_REDIS_SELECTIVE_FLUSH set to TRUE"
With WP_REDIS_SELECTIVE_FLUSH set to TRUE, flushing cache don't work as expected.
I have to use WP_REDIS_SELECTIVE_FLUSH because I have many different wordpress installation uplodaed by users and I must definitely keep them "separate".

After some digging in the code and a bit of redis-cli (expecially MONITOR command), i see that the LUA script was not executed, if I try to copy-paste and run manu

[2019-11-13 22:00] tillkruss commented on #126
Thanks for the report! Can you submit a PR with the fix?

[2019-11-14 08:05] kionez commented on #126
I've search for more info about `redis.replicate_commands()` and it seems a correct way to fix this kind of situation. Hope it helps :)

[2019-11-19 10:23] regenpfeifer opened #129 "redis-cache plugin produces loop in WP 5.3"
Hello,

I am using redis-cache plugin with WP 5.3 and it worked fine until recently. Now it produces an infinite loop when I am trying to open the dashboard with 'mysite.tld/wp-admin'. I am getting the message "your database is already up to date" (in german) and a button "continue" which leads me back to the same page; so I cannot longer access the dashboard. I have to delete the file 'object-cac

[2019-11-19 17:22] #120 closed

[2019-11-19 17:22] #126 closed

[2019-11-19 17:23] tillkruss commented on #129
Try a Redis flush, if that doesn't fix it, it's not this plugin 👍🏻

[2019-11-19 17:23] #129 closed

[2019-11-20 08:26] regenpfeifer commented on #129
Thank you, that solved the problem!

[2019-11-20 13:40] JeffCleverley opened #130 "Cache Flush doesn't work with WP_REDIS_SELECTIVE_FLUSH set to TRUE"
https://github.com/tillkruss/redis-cache/pull/127

I've tried installing from the this git repo not the org repo, still won't flush.

Nothing in the Redis log.

Trying to flush by wp-cli doesn't work.

Last plugin to work is 1.4.3

Brand new clean site. very few plugins.

[code]

[2019-11-21 08:50] sawanoboly opened #131 "collecting metrics without consent"
Hi,

https://developer.wordpress.org/plugins/wordpress-org/detailed-plugin-guidelines/#7-plugins-may-not-track-users-without-their-consent

[2019-11-21 16:25] tillkruss commented on #131
Does that apply to system metrics? Nothing personal is transmitted. It says “user data”.

[2019-11-22 00:21] sawanoboly commented on #131
Well, I can’t say about interpretation of guidelines. 🤷🏻‍♂️

IMO, sending metrics should be at least opt-in, and I think host names and some other configuration information are personal information.

[2019-11-22 01:23] tillkruss commented on #131
Mhh, I was using the URL as unique identifier, but I could change that probably.

What “other” configuration options do you consider personal that are being sent?

I’ll document the constants, I added it to the change log since that’s why most people read.

[2019-11-22 01:44] sawanoboly commented on #131
If you need an identifier, it's better to hash the URL so it can't be restored.

The other settings will be different for each individual, so my opinion is just reference as. For example, woocommerce and is_multisite seem to collect too much information.

I'm not involved in the culture of the WordPress community, so I'm not sure what the overall opinion is.
However, in any case, it is safer to co

[2019-11-22 08:01] dz0ny opened #132 "Cron job redis_gather_metrics fails with Call to undefined function get_plugin_data()"
Version: 1.5.2

Stacktrace:
[code]

[2019-11-22 13:40] rba7sp commented on #132
I have the same issue once a day triggered by wp-cron.php

[code]

[2019-11-22 18:52] tillkruss commented on #132
Thanks for reporting this. Sadly I can't reproduce this.

Are you using any special WP Cron set up?

Could you try adding a line to `/plugins/redis-cache/redis-cache.php`?

[code]

[2019-11-22 18:55] tillkruss commented on #132
Or alternatively, try uploading this fixed version:

[redis-cache-132.zip](https://github.com/tillkruss/redis-cache/files/3880961/redis-cache-132.zip)

I'd like to test it with one of you before releasing a new version where I can reproduce the bug.

[2019-11-22 19:26] rba7sp commented on #132
For debug reasons I have installed wp control. At the time of the error, the daily job
redis_gather_metrics  RedisObjectCache->gather_metrics() was running.
I have added your line of code and run the job manually. It seems it solves the fatal error issue.

[2019-11-22 19:32] naxvog commented on #130
Does the normal non-selective flush work?
In order to try to replicate the issue can you try to run the following command?
[code]
This will test if the LUA interpreter works and `pcall`should return error info.
At the moment the flush method uses the LUA interpreter as all keys need to be taken into consideration to do the selective flush. Version 1.5.0 started using a new method to do the flushin

[2019-11-23 07:16] gridpane commented on #130
Apologies, should have stated, this is only an issue with selective flush. Running with non-selective flush is fine.

Wp cache flush while selective flush enabled:

[code]

and the eval command:

[code]

[2019-11-23 07:18] JeffCleverley commented on #130
Apologies, should have stated, this is only an issue with selective flush. Running with non-selective flush is fine.

Wp cache flush while selective flush enabled:

[code]

and the eval command:

[code]

[2019-11-23 07:22] naxvog commented on #131
Strictly speaking the data is not necessary as the plugin does not rely on the information to function correctly so it should be opt-in.
Regardless of the opt-in there should also be a message/page explaining what data is collected.

Personally I would advise a client of mine to either do the opt-in plus the "what is collected" information page or to re-evaluate if the data is worth the hassle.

[2019-11-23 15:58] tillkruss commented on #131
Making it opt-in would defeat the purpose, which is to have an insight into whether certain features could be removed or ported into extensions.

There are 50.000+ active installations and the last few releases haven’t been smooth.

For example if only a few people still use HHVM, it might as well be dropped to simplify the codebase.

Selective flushing is quite troublesome as well. I’m thinking o

[2019-11-24 07:11] sawanoboly commented on #131
If predis case,  why don't you warn the environment that uses php7.3 or higher and predis. Like you put a professional ad on the top of the admin screen.
I think it is the responsibility of the user.

[2019-11-24 07:20] mt8 commented on #131
Any data sent to the user without notice is not welcome.
The default should be turned off.

[2019-11-24 07:32] tillkruss commented on #131
WordPress is by default collecting exactly the same data, without the users consent or mentioning it anywhere.

https://github.com/WordPress/WordPress/blob/e1996633228749cdc2d92bc04cc535d45367bfa4/wp-includes/update.php

[2019-11-24 07:34] tillkruss commented on #131
@sawanoboly: Warn them about what?

[2019-11-24 08:20] sawanoboly commented on #131
`predis will probably not be supported in the future because maintenance has stopped and there are compatibility issues.`

You can decide how long you want to support without collecting data. For example, changing the major version of a plugin.

[2019-11-24 10:20] naxvog commented on #130
Thanks for the clarification.
The non-selective flush does not utilize the LUA scripting engine but seeing that the scripting engine but the built-in methods of the specific redis client.
Could you please try to flush your cache using the standalone LUA script? (This will clear the cache for your specific installation you mentioned)

1. Create a temporary file with the following contents and call

[2019-11-24 14:38] JeffCleverley commented on #130
So first I checked the keys:

[code]

Then created the lua script, adjusting the scropt for this other site:

[code]

Ran the command and checked again:

[code]

The flush is working when ran like this, but not from the plugin.

[2019-11-24 16:03] naxvog commented on #130
Hmm do you have by any chance modified your redis config to override the `eval` command using `rename-command EVAL`?
As far as I know phpredis or in fact any other redis client cannot account for command renaming and that might be the issue.

Please check your running redis.conf for any `rename-command` occurances.

[2019-11-24 17:48] tillkruss commented on #132
Thanks!

I'll release the fix today.

[2019-11-24 17:48] #132 closed

[2019-11-24 18:16] tillkruss commented on #131
I documented the constants 👍🏻

[2019-11-24 18:22] tillkruss commented on #131
For reference this is what WordPress collects without consent or the ability to turn it off:

- URL
- User count
- Multisite (bool)
- WP locale
- Number of blogs (multisite)
- Active plugins
- Installed translations
- WP version
- PHP version
- MySQL version

[2019-11-24 18:27] tillkruss commented on #131
@sawanoboly: It looks like WP 5.2 added some useful that I wasn't aware of: https://core.trac.wordpress.org/ticket/43992

I'll look into whether this only works for plugin installs or also for updates 👌🏻

[2019-11-24 18:30] tillkruss commented on #58
https://core.trac.wordpress.org/ticket/31245 was moved for 5.3.1 consideration.

[2019-11-24 18:30] #104 closed

[2019-11-25 04:17] sawanoboly commented on #131
The description of WP_REDIS_DISABLE_METRICS should provide a list of what has been collected first. That will helps understanding clearly what you want to do.

[2019-11-25 08:55] JeffCleverley commented on #130
The redis.conf is fairly standard, all I update is the eviction policy and maxmemory.

[code]

[2019-11-25 19:26] naxvog commented on #130
Found the error in [this commit](https://github.com/tillkruss/redis-cache/commit/13216e313f9f1e56f2b4153b2888fc024f5f0e54#diff-3ea3a8942f84c506446c32d498ac655dL1188).
Every key including the salt will be transformed into lowercase.

@tillkruss Could you please explain why this is necessary?
The fix would be quite simple just transform the salt in the LUA cache flush script as well.

[2019-11-25 19:54] tillkruss commented on #130
It's not necessary, we can revert it, or ideally use the same conversion in the Lua scripts. Thoughts?

[2019-11-25 21:14] naxvog commented on #130
Redis keys are binary safe so I don't think that we should restrict the namespace of possible salts by using only lowercase characters. From a users point of view such a behavior is not intuitive and should be avoided or at least be well documented.

[2019-11-26 07:47] naxvog commented on #131
[Asked in the WordPress pluginreview slack channel.](https://wordpress.slack.com/archives/C1LBM36LC/p1574752575246900)
Pointed to this issue as well as to the specific line in the code collecting the data.

[2019-11-26 09:21] Otto42 commented on #131
Well, I can be perfectly clear about this. Collecting the data in the way you are is a violation of the guidelines, and your plugin has been removed from the WordPress.org plugin directory until you fix the issue. Simple enough.

[2019-11-26 10:02] sawanoboly commented on #131
I think the chosen method was exaggerated for your purpose. Do your best to update 👍

[2019-11-26 16:09] tillkruss commented on #131
@Otto42: Got it. I pushed v1.5.4 that removed the metrics entirely.

[2019-11-26 16:09] #131 closed

[2019-11-27 02:51] sawanoboly commented on #131
@tillkruss

Could you please add a process to clear already registered cron events?

https://github.com/tillkruss/redis-cache/commit/535c6900f21e99d1854826f3a1fe46885d30644a

[code]

[2019-11-27 02:52] tillkruss commented on #131
@sawanoboly: Please submit a PR.

[2019-12-01 15:27] jack9603301 opened #136 "Redis object plug-in stops running in redis cluster environment"
The redis object plug-in stops running in the redis cluster environment. The diagnostic information is as follows:

[code]

[2019-12-01 17:29] tillkruss commented on #136
Please be more specific.

[2019-12-02 02:58] jack9603301 commented on #136
When I finished an upgrade of the latest version, I found that the redis object link to redis stopped unexpectedly. Because of a bug that had been foreseen before, I thought it was the problem that redis cluster did not support ping command. After I fixed the bug, I couldn't let redis cluster work normally as usual. Your plug-in may have serious bugs. Please check and fix it. It's related The diag

[2019-12-02 03:02] jack9603301 commented on #136
Due to the stop of redis object cache, the grafanfa monitoring interface shows that the hit rate of redis has dropped to 47%. It is necessary to find out the cause and fix it as soon as possible. Please help (because the front-end theme links to redis normally and uses the same and shared link information as redis object cache, it can work under the condition of low hit rate of redis. Most or even

[2019-12-02 03:32] tillkruss commented on #136
Sorry, since there is no actual error I can look for a bug.

[Redis Cache Pro](https://wprediscache.com) is fully united tested, you might want to consider using that.

[2019-12-02 04:00] jack9603301 commented on #136
I hope you can fix the bug as soon as possible and give me the specific situation of the bug. Thank you!

[2019-12-02 04:11] #136 closed

[2019-12-02 17:00] tillkruss commented on #136
Like I said before, I will NOT investigate this issue, BECAUSE you did not supply any error message.

[2019-12-02 17:10] jack9603301 commented on #136
Just now, I checked the server log and found that the following errors were reported:
![1.png](https://raw.githubusercontent.com/jack9603301/image/master/1.png)

[2019-12-02 17:35] jack9603301 commented on #136
The problem is basically solved, thank you! I hope you don't need to bury a hole in the future development. Make a good judgment. Some commands can't be executed in the redis cluster environment. Thank you!

[2019-12-02 18:11] tillkruss commented on #136
I think this was fixed by https://github.com/tillkruss/redis-cache/pull/135

[2019-12-02 20:03] #130 closed

[2019-12-02 20:03] tillkruss commented on #130
@naxvog: Can you explain this?

[2019-12-02 22:27] naxvog commented on #130
The WordPress database version number is saved in the options table and thus cached in Redis.
If you used the faulty selective flush and tried to update to a WordPress version requiring a database upgrade (e.g 5.3) you were stuck in a DB update loop as the old version number coming from Redis could not be flushed after the upgrade.

[2019-12-03 19:46] ethanclevenger91 commented on #130
@tillkruss Can confirm I've run into this issue on a couple of sites already.

[2019-12-03 21:10] tillkruss commented on #130
In what timeframe? Did v1.5.5 fix it?

[2019-12-04 18:15] ethanclevenger91 commented on #130
Looks like it may have. I think the one site I wasn't able to flush I hadn't updated to 1.5.5, and the other updates I've been running all have been to 1.5.5 and have flushed successfully.

[2019-12-04 20:08] naxvog commented on #130
Well judging from the [commit](https://github.com/tillkruss/redis-cache/commit/13216e313f9f1e56f2b4153b2888fc024f5f0e54#diff-3ea3a8942f84c506446c32d498ac655dL1188) I've linked this should have been the case since 1.5.0 so the error persisted about 46 days.

[2019-12-04 20:25] ethanclevenger91 opened #137 "Plugin activation/deactivation not updating cache"
Heyo - sometimes I activate or deactivate plugins and the change isn't reflected in the admin until I flush the cache. This can make debugging super difficult sometimes. Any idea what this might be about? Unfortunately, I don't have specific steps to replicate.

[2019-12-04 21:10] tillkruss commented on #137
Yes, the plugin doesn’t flush the cache without the user initiating it. Flushing the entire database upon activation might cause data loss. It could be added as an opt-in setting tho.

[2019-12-06 00:20] ethanclevenger91 commented on #137
I mean, I'm not suggesting the whole database should be flushed. But if I activate/deactivate some plugin (not Redis Cache) while Redis Cache is active, it seems like the admin should reflect that change. Like, I can deactivate Query Monitor, but it still shows as active and I still get query monitor information in my admin bar. That doesn't seem right.

Granted I don't know a ton about Redis or h

[2019-12-06 01:18] tillkruss commented on #137
Gotcha! Yes, that should not happen. Something must be off on your installation where the options aren’t cached properly.

[2019-12-09 13:39] naxvog opened #138 "Stable Tag does not match most recent version"
The stable tag in the [readme.txt](https://github.com/tillkruss/redis-cache/blame/master/readme.txt#L8) does not reference the most recent release but the 1.5.4 one.

[2019-12-09 13:47] naxvog commented on #137
This might be because of the selective cache flush issue. Does it still occur using version 1.5.5?

[2019-12-09 17:51] tillkruss commented on #138
Thanks. I need to automate the wp.org deployment.

[2019-12-09 17:51] #138 closed

[2019-12-09 23:49] Gaelan opened #140 "Breaks when objects are modified in place after being cached"
Automattic's Eventbrite API plugin does something slightly strange: it [stores an object as a transient](https://github.com/Automattic/eventbrite-api/blob/8b1d23426da4fae7e2754531ddad12a2ac20622b/inc/class-eventbrite-manager.php#L73), then [modifies the same object in place](https://github.com/Automattic/eventbrite-api/blob/8b1d23426da4fae7e2754531ddad12a2ac20622b/inc/class-eventbrite-manager.php#

[2019-12-10 02:14] tillkruss commented on #140
Fixed by #141.

[2019-12-10 02:20] tillkruss commented on #130
I think WP 5.4 will change this behavior. Gotta look into it.

I was also thinking about flushing the options group before updates or something similar to avoid issues like this.

[2019-12-17 06:11] #140 closed

[2019-12-18 19:51] ethanclevenger91 commented on #137
I'll get updated to 1.5.5 and let you know if the issue persists. In the meantime @tillkruss I can provide diagnostics:

[code]

[2019-12-31 17:45] ethanclevenger91 opened #143 "Recommended Redis version?"
This may be a dumb question if I were more familiar with the intricacies of Redis, but is there a recommended version of Redis that this plugin is compatible with? Or a version in particular it's tested with? Would love to see that documented.

Currently running 4.0.10 and I assume updating to 5.x.x is fine but wanted to verify.

[2020-01-01 04:31] tillkruss commented on #143
This plugin doesn’t really use any special features, so Redis 3 or newer is great. I’m always running the latest version of Redis just for the performance gains.

[2020-01-05 15:17] lkraav commented on #122
I had another weird experience right now, and based on how I managed to resolve it (flush, then change serializer) makes me think indeed some weird values get into Redis.

I'll know what to look for next time this happens and will post those values here.

[2020-01-07 10:01] jack9603301 opened #144 "pecl not use redis-cluster"
I will redis-cluster with password authentication using pecl link, the following error occurs, the cluster communication is normal.

Couldn't map cluster keyspace using any provided seed (RedisClusterException)

[2020-01-08 16:50] tillkruss commented on #144
Closing in favor of #142.

[2020-01-08 16:50] #144 closed

[2020-01-21 21:52] #143 closed

[2020-01-21 21:53] tillkruss commented on #137
The option race condition issue was fixed in WP 5.3.1.

Is this still relevant?

[2020-01-21 21:53] tillkruss commented on #58
Fixed in WP 5.3.1

[2020-01-21 21:53] #58 closed

[2020-01-22 06:43] ottok commented on #58
Sorry @tillkruss, I didn't notice your follow-up question. Here is the whole snippet in context: https://github.com/Seravo/seravo-plugin/commit/6195003bc9caf18ae346c75898643f71172fe075

[2020-01-22 16:04] tillkruss commented on #58
No problem. WP core fixed it finally.

[2020-02-04 02:30] timofeycom opened #146 "Add PHPRedis (pecl) TLS Support"
Hi Till, per our conversation on [WP Support](https://wordpress.org/support/topic/bug-phpredis-pecl-does-not-work-with-tls-scheme/) please add TLS support for PHPRedis (pecl). I've created a patch for this.

# Patch
Rename to patch.diff
[patch.diff.txt](https://github.com/tillkruss/redis-cache/files/4151094/patch.diff.txt)

# Description of the Issue
Redis-Cache 1.5.6 fails to check for `WP_REDIS_

[2020-02-04 03:19] tillkruss commented on #146
@timofeycom: Can you submit a PR here on GitHub, instead of the patch file?

[2020-02-04 04:03] timofeycom commented on #146
@tillkruss I'm getting a permissions error 403 when I try to submit Pull Request to the master. It only allows me to submit it to the page-cache branch. Am I missing something?

Thanks

[2020-02-04 17:44] tillkruss commented on #146
I see your fork, you'd need to commit to a branch on https://github.com/timofeycom/redis-cache.

[2020-02-05 00:59] #146 closed

[2020-02-06 13:14] peder-lundqvist opened #148 "RedisCluster AUTH"
Redis cluster with password authorization is not working at all in the current version.
On line 469 in object-cache.php $this->redis = new RedisCluster(null, array_values(WP_REDIS_CLUSTER));
it shoult instead connect with an array of passwords and timeouts
$this->redis = new RedisCluster( NULL, array_values(WP_REDIS_CLUSTER), 5, 5, true, WP_REDIS_PASSWORD);
Later on line 504 the rediscluster objec

[2020-02-06 18:31] tillkruss commented on #148
Thanks @peder-lundqvist. Can you submit a PR with the fix?

[2020-02-14 18:29] smx06 opened #149 "Wordpress time stamp issues"
Hi
Had a strange problem in Wordpress 5.3.1 + Redis object cache 1.5.6 plugin
Just installed
apt-get install redis-server
apt-get install php-redis
systemctl start redis.service
systemctl enable /lib/systemd/system/redis-server.service

then installed the plugin and activated + enabled cache in WP Redis Obj cache plugin settings
all worked well and much faster than before
untill i found a big prob

[2020-02-17 16:23] tillkruss commented on #149
Are you using any plugins that handle the scheduled posts?

[2020-02-17 18:09] smx06 commented on #149
No, i don't afair. Also scheduling is the minor problem comparing to login problem
(no logged in status after successfull login)
Do you think disabling all plugins could help?

[2020-02-17 21:45] tillkruss commented on #149
I’d try a cache flush and see if the error persists.

[2020-02-18 07:49] peder-lundqvist commented on #148
I have no code that is working, just did a quick test to se if it could work.

[2020-02-21 16:50] #149 closed

[2020-02-21 16:57] tillkruss commented on #148
Ah, I see this line needs to be extended: https://github.com/tillkruss/redis-cache/blob/master/includes/object-cache.php#L469

[2020-02-23 21:29] tillkruss commented on #148
I'll release a fix this week.

[2020-03-18 16:58] natesymer opened #150 "Document REDIS_SERVERS Reader/Writer configuration"
I saw in the docs that you can configure Redis Object Cache to use multiple redis servers (presumably a master and replicas). This is great, but how can I specify which one is read/write (the primary) and readonly (the replicas)?

[2020-03-19 21:42] tillkruss commented on #150
If you're using Predis, you can use the alias:

[code]

[2020-03-19 21:42] #150 closed

[2020-03-20 18:46] tillkruss commented on #148
Hey @peder-lundqvist, can you please try connecting to your cluster using `master`? I resolved the issue in 40bdf63a1c74b71c0eaa22da651d6c6f3dfaf1d6.

[2020-03-20 18:46] tillkruss commented on #148
Download: https://github.com/tillkruss/redis-cache/archive/master.zip

[2020-03-27 14:33] tillkruss commented on #148
Fixed in 1.5.7

[2020-03-27 14:33] #148 closed

[2020-04-14 15:51] tzachristas opened #152 "Exception: php_network_getaddresses: getaddrinfo failed: Name or service not known"
I can access redis host using: redli --tls -h private-db-redis-do-user-623918-0.a.db.ondigitalocean.com -a *********** -p 25061

Plugin Diagnostics throw exception! Any suggestions?

Status: Not Connected
Client: PhpRedis (v4.3.0)
Drop-in: Valid
Connection Exception: php_network_getaddresses: getaddrinfo failed: Name or service not known (RedisException)
Redis Extension: 4.3.0
Predis Client: 1.1.1

[2020-04-14 16:21] tillkruss commented on #152
Looks like the Redis instance is up, but your PHP process can't access the Redis host. Looks like a policy/permissions issue on your Redis instance.

[2020-04-15 09:55] tzachristas commented on #152
Thank you for your reply.

You are right i had to use php-pecl-redis5 (and remove the previous php-pecl-redis4-4.3.0)

[2020-04-15 15:08] #152 closed

[2020-04-30 19:42] rashkoff opened #153 "Can't exclude object"
Hello
I can't isolate objects
this is the situation:
Already restart the server, clean the cache, clean the browser cache, trying from different browsers...

**this the config into top wp-config**

define(‘WP_REDIS_IGNORED_GROUPS’, [
‘counts’,
‘plugins’,
‘wishlist-items’,
‘wishlists’,
‘convert_url’,
]);

**this is the result form debug bar plugin:**

wp:wishlists:wishlist-default-1 – 0.01k
wp:wish

[2020-04-30 22:20] tillkruss commented on #153
After flushing the cache, are the groups still being cached?

[2020-04-30 23:28] rashkoff commented on #153
Yes, flushing the cache, deactivate the plugin, restart apache, restart php-7.3... deactivate all plugins like wp-rocket ... nothing helps.

[2020-05-01 00:43] tillkruss commented on #153
Looks like the ignored groups are still cached for the request, but not in Redis.

Try running this to see if Redis actually has keys or not.

[code]

[2020-05-01 01:11] rashkoff commented on #153
this is the result
`(empty list or set)`

[2020-05-01 14:53] tillkruss commented on #153
That means nothing is cached in Redis.

[2020-05-01 14:53] #153 closed

[2020-05-03 20:15] ratzrattillo opened #154 "Set HTTP Response Header to show cached response"
Hello Till,

i really appreciate your work on this plugin and i already use it successfully on my development page.
However i have a suggestion: When uing the plugin, you can clearly see which reponse was served by redis, as the speed is by far higher. However, a HTTP-Header indicating a cached response would be great.
Do you have an idea how to implement this? Do you think this could be included

[2020-05-03 22:49] tillkruss commented on #154
Mhh, we could add something like this:

[code]

[2020-05-04 08:21] ratzrattillo commented on #154
Yes, showing the hits and misses would be even better.
A header is really nice, as it shows you the hits and misses on a per request base.
A cumulated result in an HTML comment would be a nice addition to show the complete performance of a page load.
Sounds good imo!

[2020-05-04 16:42] tillkruss commented on #154
@ratzrattillo: Do you want to open a pull request? Check out the `stats()` method in the object cache, it's showing how to fetch the data.

[2020-05-04 16:42] #137 closed

[2020-05-04 20:02] naxvog commented on #154
Should be an opt-in option as this would only be an information leak otherwise.

[2020-05-05 16:37] ratzrattillo commented on #154
@tillkruss
I am not an experienced wordpress developer, but i can make the following suggestions:
I would introduce new variables like these in the WP_Objects_Cache class:

`public $hits_per_request = 0;
public $misses_per_request = 0;
public $new_cached_per_request = 0;`

@naxvog I would check in that class, if a debug variable is set in wp-config:
`if (defined('WP_REDIS_CACHE_HEADER') && WP_REDI

[2020-05-05 16:41] ratzrattillo commented on #154
Sorry guys, that code formatting looks terrible :/

[2020-05-07 22:36] dealer-solutions-gene opened #155 ""info() expects at least 1 parameter” Warning after fresh install"
I've just installed this plugin **Version: 1.5.7** using client **PhpRedis (v5.2.2)** with a AWS ElastiCache **Redis engine of 5.0.6**, and I receive this error after configuring the pluging as a Redis cluster

This error is printing in the wordpress admin console.

The code of the line this warning prints is `$info = $this->redis->info();`

I've configured it as a cluster using AWS Redis

[code]

[2020-05-09 21:13] tillkruss commented on #155
@dealer-solutions-gene: I just pushed 01c18b8014b368e8511a610f056dacc669fa7e56. Could you try the `object-cache.php` from master to see if that resolves it for you?

https://raw.githubusercontent.com/tillkruss/redis-cache/master/includes/object-cache.php

[2020-05-09 21:17] tillkruss commented on #154
@ratzrattillo: You can just access the `$cache_hits` and `$cache_misses` variables.

[2020-05-10 14:47] ratzrattillo commented on #154
As you can see, i do that. But it seems like the number of cached entries does not change when executing small or huge queries. Makes me wonder if the data saved in these variables is correct... Or not showing the "per request" data.

[2020-05-10 20:17] tillkruss commented on #154
You can't use a HTTP header, because the body/content of WP might trigger a lot of cache lookups.

[2020-05-11 03:14] dealer-solutions-gene commented on #155
@tillkruss Yeah, that looks like it addresses the issue when clustering is used. tested it and the warning message is cleared now.

[2020-05-11 17:13] #155 closed

[2020-05-11 17:14] tillkruss commented on #155
1.5.8 is going out shortly.

[2020-05-11 17:49] tillkruss commented on #154
I branched a rudimentary version in #156. Let's move this discussion there.

[2020-05-11 17:49] #154 closed

[2020-05-14 03:06] rereich27 opened #157 "Please advise. Appears to be a typo in constructor causing flush exception. Plugin needed for site. Thanks"
object-cache.php:598
$this->redis->info();

Should be this?
$info = $this->redis->info();

[2020-05-14 03:29] tillkruss commented on #157
Yes, can you submit a PR? I can release a fix tomorrow.

[2020-05-14 03:31] rereich27 commented on #157
Ok thanks!

On Wed, May 13, 2020, 11:29 PM Till Krüss <notifications@github.com> wrote:

[2020-05-14 16:05] tillkruss commented on #157
Closed via #158

[2020-05-14 16:05] #157 closed

[2020-05-15 07:26] lkraav opened #159 "1.5.9: Key Prefix: "cr_" displays "Consider using a shorter, human-readable prefix." notice"
I'm not sure this algoritm makes sense, at least as is. "cr" is about as short as it's going to get. It's not clear whether both conditions are important for a "good" prefix, or not.

Why not let people have whatever prefix they want and not cast extra doubt?

[2020-05-15 21:21] tillkruss commented on #159
Yeah, the `ctype_alnum()` is too simple, I'll turn this into a regex.

[2020-05-15 21:25] tillkruss commented on #159
Thoughts on https://github.com/tillkruss/redis-cache/commit/118be44ae852827994d54174638b1090adcb28a4?

[2020-05-16 07:01] naxvog commented on #159
@tillkruss Not sure if this is the right topic but as you are working on the "detection" condition - please add a constant to disable the check.
I for one do use the plugin in an automated setting generating random prefixes for our customers. A message like this would just confuse them as they cannot change the prefix.

[2020-05-16 08:54] lkraav commented on #159
Why do we need to concern ourselves with suggestions in the first place? What problem have you seen in the wild that it tries to solve? Maybe a simple prefix generator that expresses what we want users to get to, is a better tool?

[2020-05-16 16:46] tillkruss commented on #159
I saw plenty of users use a "salt" due to the constant name, which tends to be 60+ characters and contains `$*&@#}{`, etc.

[2020-05-16 16:46] tillkruss commented on #159
@naxvog: What do you auto generated prefixes look like?

[2020-05-17 08:12] naxvog commented on #159
Plain key generation:
[code]
The base_encode method converts the base 16 sha512-key to a defined base 66 string (regex: `[a-zA-z0-9\-_.~]`)
Some examples of keys generated by this method:
* `1iQraww8_uJUvSGowgPtTr.FIIfX~Ye~6vEe`
* `rHbP6A2rP_4EVNCbF.HtM~36-jdguaeB-J8`
* `1s7x0ST-52qcwvYeKovA9wl~T2LKpneMAJEu`

The generated key then gets stored in a file and is read by an auto prepend file.

I real

[2020-05-17 08:47] lkraav commented on #159
My first instinct was suggesting to re-use wpdb prefix. It should be a sane value most of the time, no?

[2020-05-17 08:51] naxvog commented on #159
The wpdb prefix is troublesome for environments where a single redis database serves more then one WordPress instance

[2020-05-17 16:40] tillkruss commented on #159
@naxvog: Thanks, that's useful. The Redis 6 ACL will come in handy then.

[2020-05-17 17:05] tillkruss opened #160 "Implement Predis alternatives"
Predis is unfortunately dead (last commit on on Jul 12, 2017) and I'm not aware of any forks.

[Credis](https://github.com/colinmollenhour/credis) seems like the best alternative (over [RedisClient](https://github.com/cheprasov/php-redis-client)).

[2020-05-19 21:00] relogical opened #161 "Better Multisite flushing"
On a WPMU install it would really be nice to see a menu item or button on each subsites' admin area so that each admin can flush cache as needed.

[2020-05-19 21:01] tillkruss commented on #161
Great idea, can you submit a PR?

[2020-05-20 07:27] naxvog commented on #161
As the `WP_CACHE_KEY_SALT` is a global option most likely defined in wp-config.php this would currently still flush the cache for all sites (even if the salt is not set).
We could change the cache key generation method the include the current site-ID using `get_current_network_id`

[2020-05-20 09:11] lkraav commented on #161
Duplicate of #64 #33 #83 maybe others as well https://github.com/tillkruss/redis-cache/issues?q=multisite

I seem to recall something about this selective subsite cache flushing being more complex than it appears, possibly discussed in some other object cache plugin issue tracker. There are many global things, if you flush them, you will potentially desync rest of your multisite. Maybe solvable by

[2020-05-21 22:45] SnAFKe opened #162 "Not allowed to access"
When i enable redis then i logout and try to login again give me “Not Allowed to Access this Page”.

I try to flush not working, only way to restore to able to login again i need to remove plugin folder.

Any ideas what causing this issue.

[2020-05-21 23:22] SnAFKe opened #163 "Can't ignore groups"
I added this config

[code]

In Diagnostics give me this
[code]
Why ignore group is not ignored anything i missing?

[2020-05-22 00:04] tillkruss commented on #163
You're defining the constant too late in your config.

[2020-05-22 00:04] #163 closed

[2020-05-22 00:05] tillkruss commented on #162
Try a private browser window.

More information please.

[2020-05-22 00:16] SnAFKe commented on #162
Already tried, private browser, using another browser,  i repeat same with another computer and phone and still give me that error.

When i flush, i'm able to login then i logout, clean cache/cookies then try again normal and private browser give me back error.

[2020-05-22 00:32] tillkruss commented on #162
Try using a different database number, sounds like a conflict.

[2020-05-25 10:06] maszaa opened #164 "Ignored groups not working"
I'm trying to ignore a group `WPML_TM_ICL_Translations--translations`. The plugin diagnostics show that it has recognized this:

But still entries with this group keep on getting stored to Redis. I've disabled and enabled the plugin, flushed the cache, restarted php-fpm, but nothing helps. After flushing the cache the Redis doesn't have keys including this group but when I open some page those key

[2020-05-25 11:31] maszaa commented on #164
They key seems to be `WPML_TM_ICL_Translations::translations` with WP..., damn. That did it.

[2020-05-25 11:31] #164 closed

[2020-05-25 15:52] naxvog commented on #164
Quick explanation on why this key is transformed by the plugin:
In order to preserve key group association keys need to be transformed before being sent to redis - as there is no support for groups just simple string keys in redis.
There has to be a separating character to implement such functionality. In this case `:` was chosen to do that. In order to avoid key placement in wrong groups or misus

[2020-05-25 16:06] tillkruss commented on #164
That’s a great idea.

[2020-05-26 03:07] ffxluca opened #166 "Race conditions in function add_or_replace"
My fellas are using the drop-in replacement in a quite big WordPress (single site) setup:
- 10 different apache webservers, each one running on a separate machine/vm.
- php-fpm (`pm` set to `dynamic`, up to 8 children each)

This is almost impossible to replicate but I have noticed the function `add_or_replace()` utilises `exists($derived_key);` and then `set()` or `setex()`, whereas it should ins

[2020-05-26 03:12] tillkruss commented on #166
Are you encountering [this](https://core.trac.wordpress.org/ticket/31245)?

[2020-05-26 03:15] ffxluca commented on #166
@tillkruss not really, we already have a workaround for that.

I cannot open new branches here so I cloned the repo, this is more or less the diff
https://github.com/ffxluca/redis-cache/commit/d1a528586e50b761152d98da08c227087c7c9eb3

[2020-05-26 11:04] maszaa commented on #164
What if group or key originally has `-` character(s)?

[2020-05-26 11:42] naxvog commented on #164
Nothing happens to the `-`characters. So it is possible to have a group collision if you define a group that mimics the sanitized version of a group that is being sanitized later in the code.
e.g. `WPML_TM_ICL_Translations--translations` and `WPML_TM_ICL_Translations::translations`

[2020-05-26 15:42] tillkruss commented on #166
Alright, can you submit a PR after you finished your testing?

[2020-05-26 22:43] ffxluca commented on #166
Deffo 😃 I might need some help with testing the `predis` client and possibly the permission to push new branches here

[2020-05-27 04:48] naxvog commented on #166
Just create a pull request from your own forked repository. You don't need any permission in this repo to do this.
Predis support is being dropped soon so I would not bother to test specifically for it (see https://github.com/tillkruss/redis-cache/issues/160).

[2020-05-27 18:02] tillkruss commented on #166
Thanks @naxvog.

I won't drop Predis support until WP drops PHP 7.4, just switch over to a new default client when PhpRedis isn't installed.

[2020-05-29 16:31] #162 closed

[2020-05-29 16:42] #159 closed

[2020-05-29 16:45] tillkruss commented on #161
We could support flushing of individual sites with a LUA script to cover the basic use case.

[2020-05-29 16:47] tillkruss opened #167 "Add Query Monitor support"
Waiting for https://github.com/johnbillion/query-monitor/issues/518.

[2020-05-29 17:46] tillkruss commented on #154
### WP Super Cache by Automattic

[code]

### WP Fastest Cache

[code]

### LiteSpeed Cache

[code]

### W3 Total Cache

[code]

### Batcache by Automattic

[code]

[2020-05-29 20:09] tillkruss opened #168 "WP_REDIS_SERVERS failing silently"
I saw the other that that `WP_REDIS_SERVERS` is only used with Predis and PhpRedis might silently use `127.0.0.1:6378`, but still display `WP_REDIS_SERVERS` as the servers in the UI.

[2020-05-29 20:10] tillkruss commented on #166
@ffxluca: Were you able to test your fix?

[2020-05-29 21:50] kraftbj opened #169 "Excessive comments"
After a lot of operations, including WP CLI and admin-ajax.php requests (e.g. deleting plugins), seeing this pop up a lot.

[code]

This ends up causing those AJAX requests to fail:
![2020-05-29 at 4 50 PM](https://user-images.githubusercontent.com/88897/83308497-7d8cc800-a1cc-11ea-840d-8cc43a8be864.png)

[2020-05-29 21:52] tillkruss commented on #169
Hey @kraftb, I already un-tagged 1.6.0 and working on a fix. Will go live shortly.

[2020-05-29 21:53] tillkruss commented on #169
See ac184561e2df7ade391cf2583caf3965c06c88a9

[2020-05-29 21:53] ffxluca commented on #166
@tillkruss yes, tested as in _nothing broke here_ I'll open a pull request and make more thorough tests :)

[2020-05-29 22:00] tillkruss commented on #169
v1.6.1 is out.

Too many things on my plate today 😓

![0*zGeb7rTJDBkV9l2O](https://user-images.githubusercontent.com/665029/83309034-0996f380-a1bd-11ea-9baa-5076ee43a53d.jpeg)

[2020-05-29 22:00] #169 closed

[2020-05-29 22:02] kraftbj commented on #169
Thanks for the quick response; I've been there!

[2020-05-30 15:55] lkraav commented on #122
It appears I now need to manually run `redis-cli FLUSHALL` whenever I updated `plugins/redis-cache` to overcome however it gets broken as described in issue opening comment.

Unfortunately I forgot to pull values during this incident, but I will try to keep it in mind for the next update.

[2020-05-30 15:57] tillkruss commented on #122
@lkraav: Would you mind posting your diagnostics for that installation?

[2020-05-30 17:38] lkraav commented on #122
[code]

[2020-05-30 18:19] tillkruss opened #171 "Detect renamed commands"
Commands fail silently when they've been renamed.

[2020-05-30 19:44] tillkruss opened #172 "Improve admin UI"
The admin UI is currently a little useless, until someone opens the diagnostics.

Why don't we move commonly used parameters and options into the main UI and _maybe_ shrink the server list a little.

[2020-05-30 19:48] tillkruss opened #173 "Set config values via UI."
After #140 is implemented, maybe we can build a `wp-config.php` setter that allows users to easily configure the plugin.

[2020-05-30 19:57] tillkruss opened #174 "Move to GitHub organzation"
That way we can have teams, collaborators and sponsor badges.

[2020-05-30 20:17] naxvog commented on #173
Rather than editing the `wp-config.php` itself I would suggest building a config file for the plugin to be included every time configuration constants are not set to allow for backwards compatibility.

The configuration would be written to an own directory (let's say `/wp-content/redis-cache-config`) using a sample-config file. I have implemented such functionality for my WPR-Redis Plugin (shamele

[2020-05-30 20:23] naxvog commented on #171
A preflight test would be optimal running every day as well as every plugin update. Any issue would result in a notification as well as an admin email depending on the severity.
This test could be implemented as a WordPress site health test to use already existing APIs.

[2020-05-30 20:38] tillkruss commented on #171
Site Health would be great, or we only check it when the settings page loads.

[2020-05-30 20:39] tillkruss commented on #173
Aha, so load the custom config file as part of `object-cache.php` with defaults?

[2020-05-30 20:40] tillkruss commented on #122
So you're using the default serializer, but during a dropin update you site crashes?

[2020-05-30 20:49] naxvog commented on #173
We should check if configuration constants were set before for example in an APF file or as part of the `wp-config.php` and only load defaults if those were not found. But yes the config should be required in the `object-cache.php` file.

[2020-05-31 09:43] naxvog commented on #171
Used commands:
* decrby
* del
* exists (will not be used once https://github.com/tillkruss/redis-cache/pull/170 gets merged)
* flushdb
* get
* incrby
* info
* mget
* ping
* select
* set
* setex
* setnx

[2020-05-31 13:53] naxvog commented on #171
So I tested a little and the implementation of phpredis is lacking severely in this regard.
We can only detect if a command returns an unexpected value as most of phpredis commands return `false` on such a case.
If we for example call `->info()` on a redis instance that has disabled this command `redis-cli` will return something like this ``ERR unknown command `INFO`, with args beginning with:`` w

[2020-05-31 16:36] tillkruss commented on #171
Thanks for looking into it!

@michael-grunder: Could PhpRedis throw an exception in the next major version when a Redis command is called that has been renamed?

[2020-05-31 16:46] tillkruss commented on #121
Nobody is doing it, meh.

[2020-05-31 16:46] #121 closed

[2020-05-31 17:18] tillkruss commented on #171
Talked with Michael, he's down with it.

https://github.com/phpredis/phpredis/issues/1769

[2020-05-31 20:50] lkraav commented on #121
Premium plugin, couple of different price tiers, easily billable to company expense budget, is probably the only useful way. This is from the customer side, I don't have a premium plugin product on the market myself.. yet.

[2020-06-02 21:42] tillkruss opened #177 "Tweak PHPCS rules"
- [ ] Don't indent `object-cache.php` if statement (`WP_REDIS_DISABLE`)
- [ ] Don't align array assignments
- [ ] Don't align variable declarations
- [ ] Force space before return statement (ideal, but optional)

[2020-06-02 22:12] #177 closed

[2020-06-05 17:49] tillkruss opened #184 "Switch GitHub action for releases"
https://github.com/marketplace/actions/wordpress-plugin-deploy

[2020-06-05 17:50] tillkruss opened #185 "Move assets"
Let's add a `resources/js/` and `resources/css` directory for assets.

[2020-06-05 19:44] naxvog commented on #185
If we implement https://github.com/tillkruss/redis-cache/issues/184 we could use the `asset` folder for actual plugin assets instead of using a more "non-standard" naming scheme for plugin assets.
`wordpress-plugin-deploy` instead uses the `.wordpress-org` folder for any WordPress plugin repository assets.

[2020-06-05 19:55] tillkruss commented on #185
Fantastic.

[2020-06-05 20:31] tillkruss commented on #174
Done.

[2020-06-05 21:07] #174 closed

[2020-06-05 21:24] naxvog commented on #171
Just fyi: using `predis` with a renamed command will result in exceptions being thrown.
[code]

[2020-06-06 00:20] tillkruss commented on #185
Resolved with c694cc8be9849850ff17b87f0574bce106b256f2 and 6c93ee1ff18f0c91d43182f5295c4860e9a83ea6.

[2020-06-06 00:20] #185 closed

[2020-06-06 16:21] tillkruss commented on #171
Good to know.

Let's see if [Credis](https://github.com/colinmollenhour/credis) does throw an exception too when we implement it.

[2020-06-06 19:47] tillkruss commented on #161
Anybody up for a PR?

[2020-06-08 12:58] feryardiant commented on #113
I was about to create a PR for this, but noticed that https://github.com/rhubarbgroup/redis-cache/commit/64072857700dac9e9016566e40a96e6dcf9e29dc commit already fix this issue

https://github.com/rhubarbgroup/redis-cache/blob/64072857700dac9e9016566e40a96e6dcf9e29dc/includes/cli/class-commands.php#L77-L81

So, my question when it would be available as stable version? or is it actually your _busine

[2020-06-08 15:11] tillkruss commented on #113
@feryardiant: Same as before. Currently only the Pro version supports a MU-plugin setup.

The commit you mentioned is just a cleanup for v2.0. Pull requests for MU-plugin support are welcome.

[2020-06-08 15:16] naxvog commented on #113
The current develop version will need some time to get into a stable state and is planned to be a version 2.0. If you feel adventurous you can use it but there might be undiscovered issues :wink:

@tillkruss Paths are more dynamic in the current develop branch - so the plugin does not need to be in the plugin directory any more. In a way this change might make future versions MU-plugin compatible.

[2020-06-08 16:41] feryardiant commented on #113
@tillkruss at this point I just want to run `php wp-cli.phar redis update-dropin` without any issue and don't know if there's any differentiation or advantage for any plugins of being `mu-pulgins` except it located on different directory and it `must-used`, obviously. And as far as I can tell your develop branch run well even it installed as `mu-plugins`

Thank you @naxvog, I'll go with develop br

[2020-06-08 16:54] tillkruss commented on #113
@feryardiant: Cool, looking forward to a PR if needed 🙌🏻

[2020-06-09 23:41] tillkruss opened #187 "Support `$force` in `wp_cache_get_multi()`"
WordPress 5.5 added support for `wp_cache_get_multi()`.

This plugin's implementation was overhauled in 4fe9060, but currently doesn't respect the `$force` parameter.

- [x] When `$force` is set: `MGET` all requested `$keys`
- [x] When `$force` is not set: only `MGET` keys that aren't already cached internally
- [x] Switch to the faster `get_from_internal_cache()` for ignored groups (and also incr

[2020-06-09 23:44] tillkruss opened #188 "Refactor contructor"
Let's split up the constructor into `PhpRedis`, `Predis` and `HHVM`.

[2020-06-10 00:42] #188 closed

[2020-06-10 00:45] tillkruss commented on #168
Will be resolved with #168.

[2020-06-10 00:45] #168 closed

[2020-06-11 01:20] tillkruss commented on #172
<img width="1076" alt="Screen Shot 2020-06-10 at 6 19 44 PM" src="https://user-images.githubusercontent.com/665029/84334323-fa159400-ab46-11ea-9f88-9eb21f4ec5d0.png">

[2020-06-11 01:20] #172 closed

[2020-06-11 02:18] tillkruss commented on #187
@naxvog: Do you want to give this a shot?

[2020-06-11 09:35] naxvog commented on #187
@tillkruss Currently quite busy. Can go for it in about a week

[2020-06-11 17:58] StuPagely opened #191 "update drop-in on plugin update"
When the plugin is updated with `wp plugin update redis-cache`, it does not also update the drop-in. So that `wp-content/object-cache.php` would end up as an earlier version than the installed plugin.

[2020-06-11 19:21] tillkruss commented on #191
Yeah, the Pro version is doing that. Will push this into v2.

For now you could always run:

[code]

[2020-06-12 00:43] #166 closed

[2020-06-12 15:38] tillkruss commented on #173
**Basics**

- Client
- Host
- Port
- Password
- Database
- Prefix/Salt

**Nice to have**

- MaxTTL
- Timeout + Read Timeout
- Selective flushing
- Ignored groups
- Serializer
- igbinary

[2020-06-13 02:23] tillkruss opened #192 "Language changes"
[code]

Make sure old constants don’t break.

Might as well change the misleading SALT constantly at the same time.

Update Wiki pages and readme.txt

[2020-06-19 18:24] #192 closed

[2020-06-19 19:49] tillkruss commented on #187
6089240fdd721adb653cc29d6e20ec15ae9c0846

[2020-06-19 21:25] #187 closed

[2020-06-23 21:07] #191 closed

[2020-06-24 02:08] #167 closed

[2020-06-24 02:11] tillkruss opened #201 "Implement basic analytics"
Similar to the stats that Jetpack provides, show basic stats for:

- hits/misses/ratio
- bytes/time/commands

[2020-06-24 16:44] tillkruss commented on #201
- GET commands (reads)
- bytes total
- time for all commands

[2020-06-24 20:20] tillkruss opened #202 "Implement Sentinel with PhpRedis"
https://github.com/phpredis/phpredis/blob/develop/sentinel.markdown

[2020-06-24 20:50] tillkruss commented on #201
Related c0936a2.

[2020-06-26 13:32] paulkirspuu commented on #169
Still conflicts with some AJAX requests, e.g. FacetWP autocomplete feature.

[2020-06-26 15:40] tillkruss commented on #169
@paulkirspuu: Would you mind opening a new issue with some screenshots?

[2020-06-26 17:03] naxvog commented on #169
Just for reference: WP-Rocket is doing this using a `is_html` method and obviously output buffering:
[code]
Why they would use a regular expression is beyond me but we can do it better using `stripos` :wink:

Alternatively we could check the current content type header.
To be quite frank, last time I needed to work with FacetWP it was simply a mess so we can not assume that best practices were use

[2020-06-26 18:18] lkraav commented on #169
In Pods, I discovered `wp_is_json_request()` exists.

WooCommerce has fun stuff like:

https://github.com/woocommerce/woocommerce/blob/4f344f1357ee87ae22c68d5e0bb6edf489c4a7f8/includes/class-woocommerce.php#L289-L306

[2020-06-26 19:09] tillkruss commented on #169
PRs welcome 👍🏻

[2020-06-27 15:04] #160 closed

[2020-06-30 17:05] #201 closed

[2020-06-30 17:06] tillkruss opened #205 "Metrics improvments"
- [x] Improve `WP_REDIS_DISABLE_METRICS` documentation
- [x] Hide Pro line when banners are disabled
- [x] Indicate that Metrics are disabled by showing grayed-out tab
- [x] Provide context to metrics via "Info" popover (like Jetpack stats) really explain what each metric means
- [ ] Remember chart selection via cookie

[2020-06-30 21:59] tillkruss opened #206 "2.0 Release Testing"
[Release Candidate 1](https://github.com/rhubarbgroup/redis-cache/releases) of v2.0 is out. It should be stable and a seamless upgrade.

Please test it in your staging environments, so we don't take down production sites on release day.

[2020-06-30 22:19] tillkruss commented on #206
@naxvog: Thoughts on getting #161, #173, #202 and #205 done before release?

[2020-07-01 10:04] naxvog commented on #202
Phpredis only supports one sentinel instance so it will be implemented like credis: throwing if multiple sentinels were configured.
It will **not** be a replacement for predis.

[2020-07-01 10:04] naxvog commented on #206
- #161 considerable amount of refactoring and rewriting necessary - not for 2.0
- #173 even after implementation this feature needs a lot of testing - don't know if I can implement this before 2.0 but this might be a nice addition in a feature release
- #202 Supports only one Sentinel instance. Will implement it like Credis throwing in case multiple sentinels were configured - will be in 2.0: next

[2020-07-01 15:51] tillkruss commented on #202
That's fine, we'll see how many people use Redis Sentinel anyhow 👍🏻

[2020-07-02 16:34] tillkruss opened #207 "Metrics don't show `noData` warning"
Show `noData` message until at least 2 minutes of data are present.

[2020-07-02 16:34] tillkruss commented on #207
<img width="1337" alt="Screen Shot 2020-07-01 at 12 36 43 PM" src="https://user-images.githubusercontent.com/665029/86386900-3e2c1e00-bc47-11ea-9a8a-fced353c80ca.png">

[2020-07-02 22:06] eigrobert opened #208 "Avoid SELECT command unless WP_REDIS_DATABASE set"
The plugin is issuing a "select 0" to the redis server even if WP_REDIS_DATABASE is not defined.  We should avoid the extra command unless WP_REDIS_DATABASE is set.

This causes fatal errors with redis6 if the user connecting doesn't have access to the select command.

[2020-07-02 22:17] tillkruss commented on #208
Resolved in 64a60ad7bfd8c130bb1b59ad47154552bee666a9.

[2020-07-02 22:17] #208 closed

[2020-07-02 22:52] #207 closed

[2020-07-03 22:09] tillkruss opened #213 "Docker `sed` on macOS"
[code]

[2020-07-04 14:37] naxvog commented on #213
Could you please try to change line 56 of `start.sh` to to following and run it again?
[code]
This removes the indentation and might be more compatible.

[2020-07-05 20:06] #213 closed

[2020-07-06 16:03] #206 closed

[2020-07-09 06:28] naxvog opened #217 "Combine composer.json files"
Just used this on another project and thought that it might be beneficial to use here too:
https://github.com/mnsami/composer-custom-directory-installer

Might push a PR as soon as I finish work :wink:

[2020-07-09 16:15] tillkruss commented on #217
Very cool

[2020-07-10 19:23] tillkruss commented on #217
Closed via #218.

[2020-07-10 19:23] #217 closed

[2020-07-11 16:08] tillkruss opened #221 "Show empty metrics widget"
Instead of hiding the widget, let's show an error message in the widget and settings tab.

Related #219.

[2020-07-11 16:10] tillkruss opened #222 "Test upgrade paths"
- [ ] 2.0.0
- [ ] 1.6.3
- [ ] 1.4.3

[2020-07-13 18:28] #221 closed

[2020-07-13 19:17] #222 closed

[2020-07-14 15:08] tillkruss opened #223 "Dedicated metrics class"

[2020-07-14 15:24] tillkruss opened #224 ""Object Cache" admin-bar node"
How can this be the most useful?

- [ ] ~~Toggle via options in settings~~
- [x] Enabled by default?
- [x] Disabled via `WP_REDIS_DISABLE_ADMINBAR`
- [x] Add with priority of 998, just before Query Monitor?
- [ ] Should we hide the admin dashboard as well via an option?

The node could be:

[code]

Related:

- https://onexa.nl/wordpress/toolbar-link-redis-object-cache/?v=3e8d115eb4b3
- https://wor

[2020-07-14 15:48] tillkruss opened #225 "Nudge towards better prefixes"
The "salt" as "prefix" is a misleading naming convention. I keep seeing prefixes that are ridiculously long and contain _all the characters_.

Let's nudge users towards a cleaner prefix setup with examples in the UI, if theirs is quite long and contains many special characters.

`rIT<~s5f$+w]!s&HL5tlGw|gLe13*/rGo= |u3!izQCQyx|VBeB5hw&#ZD,6GtaI` => `mysite:`

[2020-07-14 16:59] naxvog commented on #225
Well considering that some users and/or hosters are using one Redis instance to host many sites the prefix or salt is also a security measure to prevent one site from reading from another. Sure there is ACL but this feature is too new to be widely adopted.

We should definitely nudge users if they use problematic characters but the length should not be a concern in my opinion.

[2020-07-14 17:27] tillkruss commented on #224
@naxvog: Feedback?

[2020-07-15 03:47] kraftbj opened #226 "Various warnings/errors & inability to login"
Fly-by to see if you have suggestions before I dig into it more tomorrow.

Multinetwork, multisite running 2.0.x latest. Upgraded from 1.6.3. WP trunk.
In WP CLI, getting warnings/errors like this:
[code]

Additionally, I was logged out and couldn't log back in until disabling or downgrading back to 1.6.3

[2020-07-15 03:51] tillkruss commented on #226
Thanks for bringing that up. Looks like the `wp_cache_get_multiple()` implementation isn't working quite right.

[2020-07-15 11:36] dmhendricks opened #227 "Using Credis instead of Predis"
I recently upgraded from 1.6.3 to 2.0.3 and I'm getting the following warning on the settings page:

On production environments, I use the latest [PhpRedis](https://github.com/phpredis/phpredis), however, for local development, I have been using [Local](https://localwp.com/) (which, despite many appeals to the developers, does not have the PhpRedis extension in the stack).

Question: What is the r

[2020-07-15 11:46] naxvog commented on #227
You have to specify `define( 'WP_REDIS_CLIENT', 'credis' );` in your `wp-config.php` to use Credis. Everything other is done automatically as Credis is bundled in version 2.x

[2020-07-15 11:55] dmhendricks commented on #227
Perfect, thank you! May wish to add to [Configuration Options](https://github.com/rhubarbgroup/redis-cache/wiki/Configuration-Options) wiki page.

[2020-07-15 11:55] #227 closed

[2020-07-15 12:02] naxvog commented on #227
Informed till about the missing documentation

[2020-07-15 16:28] tillkruss commented on #227
It's added.

[2020-07-16 11:28] lbngoc opened #228 "Redis is not connected (Dashboard), but working in WP-CLI"
I install and active the plugin on my hosting, I checked the connection status with WP-CLI and see it's working

[code]

But when go back to the WP-ADMIN, open **Settings / Redis**

![](https://i.imgur.com/zDJiCY2.png)

**Diagnostics**
[code]

[2020-07-16 15:17] tillkruss commented on #228
Can you please post the output of this?

[code]

[2020-07-16 15:24] tillkruss opened #229 "Improve Predis warning"
Make message more helpful and link to Wiki page.

- What is Predis
- Why is it dead
- Why switch
- How to switch: Credis/PhpRedis

[2020-07-16 20:52] tillkruss commented on #122
Closing due to lack of feedback.

[2020-07-16 20:52] #122 closed

[2020-07-16 20:52] #171 closed

[2020-07-16 20:53] #184 closed

[2020-07-16 20:54] tillkruss commented on #161
Built into the Pro version. Feel free to submit a PR here @relogical.

[2020-07-16 20:54] #161 closed

[2020-07-17 07:09] lbngoc commented on #228
Here you go

[code]

[2020-07-17 13:16] naxvog commented on #228
Could you please confirm that you use the same PHP version for CLI and your webserver?
In some cases versions might be different, outdated and/or run with a different configuration.

[2020-07-17 15:57] tillkruss commented on #228
Strange. I agree with @naxvog, since CLI and Web run in different processes, try restarting your entire server to see if it resolves it.

[2020-07-17 16:48] tillkruss opened #230 "Multisite upgrade path"
Switching from regular  to `Network: true` in 2.0 causes network upgrade to fail. Let's find an upgrade path for network.

I believe this only applies to installations that activated the plugin for an individual site and not network wide.

Maybe:

1. Disable the plugin for all sites
2. Activate the plugin network wide
3. Upgrade from 1.x to 2.x

[2020-07-17 16:58] tillkruss commented on #226
@naxvog: WP 5.5 is slated for 10 August, do you have time to tackle this before then?

[2020-07-17 20:22] tillkruss commented on #230
Related: https://wordpress.org/support/topic/since-update-to-the-latest-version-drop-in-missing/

[2020-07-17 20:42] tillkruss commented on #228
@lbngoc: Can you please try downloading [`develop`](https://github.com/rhubarbgroup/redis-cache/archive/develop.zip), install it and run `wp redis status` once more.

[2020-07-17 20:57] tillkruss commented on #230
I've tested this and can't reproduce the error when upgrading from 1.6.3 to 2.0.3 on a network.

[2020-07-17 20:57] tillkruss commented on #230
Maybe it's related to 96d2695de449fc327bac89565d75d33bc7aad0c2?

[2020-07-18 01:20] tillkruss commented on #228
@lbngoc: Please update to 2.0.4 and post your `wp redis status` output.

[2020-07-18 07:05] lbngoc commented on #228
here you go
[code]
On **Settings / Redis**, the connection status is still "Not Connected"

[2020-07-18 18:42] tillkruss commented on #228
You need to restart your PHP and Webserver processes.

[2020-07-18 18:42] #228 closed

[2020-07-18 22:20] #230 closed

[2020-07-19 16:17] beautifulcode commented on #229
Hi there! Agreed on the above. I'm actually trying to switch from predis to credis on Heroku, but the connection params don't seem to be working... Do you know if Credis supports heroku-redis style REDIS_URL and/or the various WP_REDIS_* env vars? I'm digging through your source and theirs but not sure if it's possible as is. Thanks for all your work!

[2020-07-19 17:29] tillkruss commented on #229
I know that Heroku supports PhpRedis, use that 👍🏻

[2020-07-20 03:43] tillkruss commented on #229
@beautifulcode check this out:

[code]

[2020-07-20 16:05] tillkruss commented on #229
Closed with c883240.

[2020-07-20 16:05] #229 closed

[2020-07-20 16:08] tillkruss commented on #225
For the record: Long prefixes provide ZERO security. To isolate customer data, each customer must have it's own Redis instance, or Redis 6 ACLs must be used.

Should we not discourage this behavior?

[2020-07-20 19:21] tillkruss opened #232 "Integrate filesystem issues into "Overview" tab"
Test 4ec9bf973d6bbd6d77e093b6a97ac0a035f97781 for little bit, make sure it actually works well and then integrate it into the _Overview_ tab, highlight it in red when there is an error.

[2020-07-21 20:55] tillkruss opened #233 "Make metrics action configurable"
[It looks like](https://wordpress.org/support/topic/empty-metrics-tab-and-more/#post-13152372) some set ups don't work well with `shutdown`, let's make this configurable.

[2020-07-21 21:36] alsguimaraes commented on #233
It turns out was some issue with the breeze plugin cache, apparently messes things up.

[2020-07-21 22:22] #233 closed

[2020-07-22 07:11] naxvog commented on #205
Just a note as I came back to work and updated the plugin on my client's websites:
`WP_REDIS_DISABLE_METRICS` was used before 2.x as a flag determining if metrics were sent to an external resource. Now it is reused to determine if (internal) metrics should be collected.
I would assume that some people still have this flag set - we should at least clarify the flag on the wiki page.

[2020-07-22 07:44] naxvog opened #234 "Switching tabs unexpected anchor scrolling"
With the removal of the `#top` anchor before the tab target (e.g. `#top#metrics`) switching a tab automatically scrolls to the tab content. This results in the tab bar itself not showing and is quite frankly an awkward user experience.

The `#top` anchor was removed because forced scrolling should be avoided to improved the UX but the current behaviour is worse in my opinion.
Clicking a tab should

[2020-07-22 15:26] tillkruss commented on #234
Can you post a screen recording of the issue?

[2020-07-23 07:15] naxvog commented on #234
![screencast-20200723-09-07-34-Tri](https://user-images.githubusercontent.com/4963183/88260588-f851fb00-ccc4-11ea-9196-bc1623f3512f.gif)

[2020-07-23 14:55] tillkruss commented on #234
Wow, is that IE?

[2020-07-23 15:19] naxvog commented on #234
FF 79.0b9

[2020-07-23 15:22] naxvog commented on #234
But this should be the default behaviour in all browsers as the anchor of the content element is selected. Returning `false` in the jQuery method should result in a fix as the click event won't propagate further.

[2020-07-23 15:27] #234 closed

[2020-07-23 15:28] tillkruss commented on #234
@naxvog: Feel free to improve 88e9577 if necessary.

[2020-07-24 11:22] pinheiroalexandre2 opened #238 "Credis master - slave load distribuition"
Hey!

I have a simple master-slave redis setup and I use Predis as client.

When I upgraded to Credis I noticed that the biggest part of the requests are being sent to slave and just some requests to master.

This is a screenshot where you can see this behavior:
![Screenshot from 2020-07-24 12-21-01](https://user-images.githubusercontent.com/3235813/88386433-47bd2780-cda8-11ea-9156-7e794def645f.pn

[2020-07-24 15:36] tillkruss commented on #238
That would be more of a question to pose in https://github.com/colinmollenhour/credis

[2020-07-24 16:14] tillkruss commented on #226
Related cff39fdcc41645305069e82f6949f3476298c0c6.

[2020-07-25 20:08] tillkruss commented on #226
Resolved in 6fada41.

[2020-07-25 20:13] tillkruss commented on #226
@kraftbj: Would you mind trying https://github.com/rhubarbgroup/redis-cache/releases/tag/2.0.6 ?

[2020-07-27 14:24] kraftbj commented on #226
Seeing some PHP warnings still:

`Invalid argument supplied for foreach() - wp-content/object-cache.php:1394`
`array_combine(): Both parameters should have an equal number of elements - wp-content/object-cache.php:1382`

Stack traces:
[code]
[code]

[2020-07-27 15:41] naxvog commented on #238
Credis states that in order to avoid a non balanced situation you should specify the same server multiple times in small setups.

Internally the key is hashed and the hash directs a key to its server so that the same key will be served from the same server every time.

```To avoid an uneven distribution of keys (especially on small clusters), it is common to duplicate target nodes. Based on the nu

[2020-07-27 16:32] tillkruss commented on #238
Nah, let's just add it as a note 👍🏻

[2020-07-27 16:32] #238 closed

[2020-07-27 16:33] tillkruss commented on #226
Potential fix: 36bd236da7af6c111872bafd54fbaa74efe5defa

[2020-07-28 07:32] naxvog commented on #238
I misread that this is a master/slave issue.
Credis will also perform read/write separation only writing to the master and reading from all by default.

You can change that using the `write_only` flag in your connection string:
[code]
This should give you a more balanced load regarding Redis reads.

Edited my comment above to reflect this.

Reference: https://github.com/colinmollenhour/credis#mast

[2020-07-28 07:41] naxvog commented on #238
I propose the following 2 notices when using Credis:

**Master/Slave setup without write_only flag(s) set**
```You are using Credis in a master/slave configuration. Please be aware that Credis will perform read/write separation only writing to the master and only reading from the slave(s). [link]More information[/link]```
**Multiple but less than 5 redis instances**
```You are using Credis in a mu

[2020-07-28 14:51] tillkruss commented on #226
Releases 2.0.7 with a fix to wp.org.

[2020-07-28 14:51] #226 closed

[2020-07-29 07:38] dz0ny opened #239 "Igbinary icompatiblity with WooCommerce"
Using the latest WooCommerce beta and WordPress 5.5 beta and redis-cache plugin with igbinbary enabled there seems to be a problem with serializing cache objects. I' ma not sure if this is a WooCommerce thing or redis-cache.

Error:
[code]

Plugins
[code]

Status:
[code]

[2020-07-29 08:59] naxvog commented on #234
in 2.0.7 tabs are unusable:
Tab nav links don't have an anchor linking to `wp-admin/metrics` for example. Tabs are not hidden by default. Its a mess currently.

Please consider implementing my tested PR #235

![DOM-Node screenshot](https://user-images.githubusercontent.com/4963183/88772466-1dd97b80-d181-11ea-8ff9-36d3cced3e7f.png)

[2020-07-29 11:39] xberg opened #240 "Flush button not showing up"
Hi,
I upgraded today from 1.x to 2.0.7 and I am having the following problems:
- no more flush / disable button as in version 1.x
- the Metrics and Diagnostics tabs do nothing when clicked

This is what I see in overview:

Status: Connected
Client: PhpRedis (v5.3.0)
Drop-in: Valid
Disabled: No
Filesystem: Working
Ping: 1
Errors: []
PhpRedis: 5.3.0
Predis: Not loaded
Credis: Not loaded
PHP Version:

[2020-07-29 15:40] tillkruss commented on #240
Relevant: https://wordpress.org/support/topic/no-flush-button-metrics-and-diagnostics-go-nowhere/#post-13186587

[2020-07-29 15:51] tillkruss commented on #239
Did you update your `object-cache.php` dropin, because `wp-content/object-cache.php:1841` is just whitespace:

https://github.com/rhubarbgroup/redis-cache/blob/ad7c2de04a259f46fb040c4d48ba11830fc9a457/includes/object-cache.php#L1838-L1841

[2020-07-29 15:52] tillkruss commented on #240
@xberg Are you seeing any errors in your PHP log files?

Is it a multisite installation?

[2020-07-29 15:59] tillkruss commented on #234
The `#top` solution is backwards. The `admin.js` file wasn't properly copied to wp.org's SVN repo.

[2020-07-29 17:35] tillkruss commented on #239
I can't reproduce this with 5.5-RC1 and 2.0.7 or 2.0.8. Make sure you dropin is in sync or use [Redis Cache Pro](https://wprediscache.com) if you need something that's 100% stable.

[2020-07-29 17:35] #239 closed

[2020-07-29 17:36] tillkruss commented on #240
Try updating to 2.0.8 and:

- Delete the `object-cache.php` dropin by hand (FTP)
- Flush you Redis database (`redis-cli flushall`)
- Re-enable the plugin via `Settings -> Redis`
- Try flushing again

[2020-07-29 18:54] naxvog commented on #240
The Flush button currently only shows up if a redis connection is established successfully.

Related: #241

[2020-07-29 21:53] tillkruss commented on #240
I'll also test this with a foreign dropin and when the dropin can't be read, maybe an invalid header or something.

[2020-07-30 17:12] tillkruss commented on #240
@xberg: Can we debug this via Zoom? This seems like an obscure bug.

[2020-07-30 17:36] #240 closed

[2020-08-12 14:52] lesterchan opened #243 "wp_cache_get_multiple() after upgrading to WP 5.5."
I have been getting cache misses for wp_cache_get_multiple() after upgrading to WP 5.5.

It seems to be returning false all the time as after priming the cache, it doesn't read back from the cache.

Setting the cache
[code]

Using get_multiple to read (notice that it returns false for `gamerz_wp:category_relationships:4333`)
[code]

Might be due to the remaining keys

Line 1371 of object-cache.php

[2020-08-12 15:35] tillkruss commented on #243
@lesterchan I'm not sure I follow. Can you write some dummy code for me to reproduce this?

[2020-08-12 15:45] lesterchan commented on #243
After upgrading to WP 5.5 most of the prime caches uses `wp_cache_get_multiple()`. Because of the upgrade, it seems that the caches are added but they are not being read. MySQL queries on my home page jump from 2 queries to 40 queries every time.

I am trying to find an easy way to reproduce it, but it is too nested and deep.

So basically, whenever `wp_cache_get_multiple()` is being called, the v

[2020-08-12 15:51] tillkruss commented on #243
Alright, can you open a PR?

[2020-08-12 16:14] lesterchan commented on #243
Are you able to reproduce the problem? I don't have enough context for a PR. It seems my "fix" is not working as intended (there are some side effects where it will write empty values to my postmeta).

I also tried WP-Redis as a comparison and it seems to work fine.

[2020-08-12 16:21] tillkruss commented on #243
@lesterchan: No, I at least need some dummy code to look into it. You logs aren't enough.

[2020-08-12 16:42] tillkruss commented on #243
@naxvog: Have you had any issues with 5.5 and `get_multiple()`?

[2020-08-12 16:49] lesterchan commented on #243
Let's see if you can reproduce this. 4347 is any post ID.
[code]

redis-cache returns
[code]

wp-redis returns
[code]

[2020-08-12 17:55] joshuaja opened #244 "Can't login to `wp-admin` after upgrading to WP 5.5"
If I remove/rename `object-cache.php` everything works again.

Is there anything I can try or how can I help to troubleshoot?

[2020-08-12 17:57] tillkruss commented on #244
Did you see any errors in your logs?

[2020-08-12 20:05] tillkruss commented on #243
Fixed in 4b1e2aee7c6360bc612b97a847fff3c5501f9163.

[2020-08-12 20:05] #243 closed

[2020-08-13 02:25] lesterchan commented on #243
Thanks @tillkruss! Verified working!

[2020-08-13 12:16] xberg commented on #240
Hi,
I upgraded to 2.0.10 and everything works perfectly now. Well done!
sorry for my late reply!

[2020-08-13 14:44] Onatcer commented on #244
We've experienced this problem with the upgrade too. We tried upgrading the wordpress and the plugin both to the latest version. There were no errors reported by sentry but the cache obviosly wasn't working as expected at all. It looked like wordpress didn't recieve any data at all from the redis cache.

[2020-08-13 15:07] tillkruss commented on #244
@Onatcer: Did you try a `FLUSHALL`?

[2020-08-13 15:15] Onatcer commented on #244
@tillkruss Yes, `FLUSHALL` did not have any visible effect. Both wordpress and redis are running in an docker environment if that makes any difference.

[2020-08-13 15:16] tillkruss commented on #244
Are you up for a Zoom?

[2020-08-13 15:24] tillkruss commented on #244
@Onatcer: From someone who had issues:

[2020-08-13 16:31] Onatcer commented on #244
@tillkruss

Thanks for the quick reply. I was just able to reproduce it on a fresh docker compose environment with a wordpress and redis service similar to our production setup, so I don't think it's an issue with the upgrading process. Also we do not use any other caching plugins.

You can find the docker-compose here: https://gist.github.com/Onatcer/5cf18bc4c3526136d752298ba4ee60f7

Steps to rep

[2020-08-13 17:35] tillkruss commented on #244
@naxvog: I can't reproduce this, kannst du?

[2020-08-14 14:26] rvencu opened #245 "Redis modules - how to use from WordPress / PHP"
I found that Redis server can be enhanced with new data structures and I realized I could replace my PHP trie implementation with a much faster, supposedly, Redis trie implementation via an existing Redis module.

I was able to install Redis 5.0.0 and compile/load the trie module. Now I suppose I need a way to use the new commands that are exposed by trie module from my plugin and I am curious if

[2020-08-14 15:35] tillkruss commented on #245
You can always call raw commands with Predis or PhpRedis:

https://github.com/phpredis/phpredis#rawcommand

[2020-08-14 15:35] #245 closed

[2020-08-14 18:13] tillkruss commented on #244
Looks like `wp-login.php` is returning a 302:

[code]

[2020-08-14 18:18] tillkruss commented on #244
Weird things going on with the `user_meta` group.

[code]

[2020-08-14 18:19] tillkruss commented on #244
Group doesn't exist:

[code]

[2020-08-14 18:36] tillkruss commented on #244
A quick workaround for now is:

[code]

[2020-08-14 19:23] naxvog commented on #244
We could introduce a version hash of the current plugin version and the WordPress version to avoid retrieving stale data.
The key format would be `{$salt}:{$version_hash}:{$prefix}:{$group}:{$key}`. The problem might be that there are some old keys in the database that should be cleaned eventually.

[2020-08-14 21:51] tillkruss commented on #244
@naxvog: We could do that. Maybe a background task to delete all old keys to free up space.

The issue also happens with a clean database.

[2020-08-14 22:33] tillkruss commented on #244
This was resolve in 0eb1a2e and 051f2ae.

@joshuaja and @onatcer can you try the 2.0.11 release from GitHub?

[2020-08-14 22:33] #244 closed

[2020-08-14 23:47] Onatcer commented on #244
Just installed it on one of our staging instances. Looking good 👍
Dankeschön

[2020-08-15 22:44] davidbitton opened #248 "No WP_REDIS_SERVERS Support With PhpRedis Client"
I setup my system with PhpRedis. I can see from the plugin's code, there isn't a provision for this define in the connect w/ PhpRedis method. I thought I read that Predis was on it's way out and I shouldn't use it. I have a single Redis ElastiCache instance. There is a single shard, and I have thee nodes; one primary and 2 replicas. What is the proper was to setup Redis Object Cache for a Redis El

[2020-08-15 22:50] tillkruss commented on #248
Predis was recently resurrected: https://github.com/predis/predis/issues/587#issuecomment-671791015

You can keep using it.

[2020-08-15 22:50] #248 closed

[2020-08-15 23:07] davidbitton commented on #248
Shazam! I just changed it to 'predis' and it's working again. Thanks.

[2020-08-16 00:27] davidbitton opened #250 "Plugin Fails With Error from object-cache.php"
I had it working, and then after clicking Clear Cache, it stopped. Now, I get this error
[code]

My config is the same.

[2020-08-16 00:53] tillkruss commented on #250
Please post your diagnostics.

[2020-08-16 01:18] davidbitton commented on #250
[code]

If I copy the object-cache file in to place, i can't login.

[2020-08-16 16:25] tillkruss commented on #250
Mhh, this might be 2 issues.

Try flushing your cluster using `FLUSHALL` via `redis-cli`, that might resolve the login issue.

[2020-08-16 16:33] tillkruss commented on #250
@davidbitton: Did you upgrade from 1.6.x to 2.0.x, or when did this start to occur?

[2020-08-16 16:46] davidbitton commented on #250
This all started when I upgraded WP and the plugins via wp cli. The update
of Redis Object Cache failed with an error -- something about predis
missing. I deleted the plugin folder and re-downloaded the latest version
manually. That's when things went awry. I tried a FLUSHALL and I will try
again. Thanks.

On Sun, Aug 16, 2020 at 12:33 PM Till Krüss <notifications@github.com>
wrote:

--
---
David

[2020-08-16 22:04] enoch85 opened #253 "Can't use wp commands anymore"
### Error

[code]
### Config

[code]

Please let me know if you need more info.

Thanks for a great plugin!

[2020-08-17 00:30] tillkruss commented on #253
Your CLI PHP runtime isn't loading the PhpRedis extension. You need to adjust your `php.ini` for you CLI runtime.

[2020-08-17 00:30] #253 closed

[2020-08-17 07:32] enoch85 commented on #253
@tillkruss

This is PHP-FPM and it works in the fronted: https://cloud.hanssonit.se/s/YkmGnpPcjMae4S7

If I change to Predis it works in the backend as well.

[2020-08-17 07:36] enoch85 commented on #253
This is PHP-FPM, but it sure seems that adding it to both CLI and PHP-FPM did the tick.

Thanks!

[2020-08-19 14:31] #250 closed

[2020-08-20 09:24] jacklenox opened #254 "Growth in not-expiring keys (metrics?)"
Hello,

I've been using this plugin for a couple of months and I've noticed that for all the time it's activated, the number of not-expiring keys just constantly grows at a steady rate of about 1,500 per week, regardless of other environmental factors.

I monitor Redis using Grafana so you can see this illustrated in the following graphs:

![Screenshot_2020-08-20 Redis Dashboard for Prometheus Red

[2020-08-20 17:59] naxvog commented on #254
Hi Jack,
could you please post your diagnostics data? There are so many supported configurations it is impossible to figure out what the issue might be.
Also is it just the transients or does this happen to all keys?

[2020-08-20 18:01] tillkruss commented on #254
I can't reproduce this on large installs, we'd need to see what keys are not expiring.

You can find that out with this command:

[code]

It's likely the `*redis-cache:metrics` hash map and it's containing keys. In your particular case the `rediscache_discard_metrics` event isn't called every hour to purge old metrics.

You can disable the metrics to see if the issue disappears:

[code]

[2020-08-24 04:26] markhughes opened #257 "Pass original expiry to redis_cache_expiration"
I have a case where I want some key types to override the original `WP_REDIS_MAXTTL` being used..

The filter `redis_cache_expiration` does not pass the original expiry, I'm currently hacking it in manually by changing:

[code]

to:

[code]

However, you might know an alternative to this, I had a few ideas such as a adding a `should_validate_expiration` for key/group filter. What are your thoughts

[2020-08-24 16:08] tillkruss commented on #257
You mean the 1st argument is always overwritten by `WP_REDIS_MAXTTL`? If so, then yeah, let's pass a 4th argument to that filter 👍🏻

[code]

[2020-08-24 21:44] #257 closed

[2020-08-24 22:24] tillkruss opened #259 "Improvements"
https://twitter.com/markjaquith/status/1297690855017521153

https://github.com/coenjacobs/mozart

[2020-08-25 12:26] naxvog commented on #259
- **No global variables. Ever.**
We need to refactor our templates as they rely on the current instance `$roc`. Would coincide with **Static class first** as we can switch a lot of methods to be static. Obviously we need to rely on `global $wp_object_cache;`
- **Namespace everything.**
Not sure I agree for constants as well as the plugin entry file. Don't know if he would agree to this exceptions.

[2020-08-25 23:35] markhughes commented on #257
Cheers, redis-cache is the only redis cache plugin that really adds in the extra "ooft" that developers need 😄

[2020-08-25 23:44] markhughes commented on #254
There are a lot of plugins - and even WordPress internals - that don't set transient expiries by design.

**However** some plugins use transients simply because its easy (which is a bad design choice, they should use the options API). Setting the Max TTL is your safest bet here, and if you need some transients to bypass this, you can use the filter [redis_cache_expiration](https://github.com/rhuba

[2020-08-26 00:46] tillkruss commented on #257
Thanks Mark! If you want to leave a review on WP.org, that would be magnificent 😗

[2020-08-27 21:45] jacklenox commented on #254
I can confirm that setting the Max TTL has resolved this issue. It seems there are no keys that ignore this. I wonder if the Max TTL should be set to some sort of sane default though? Or at least, more weight should be given in the documentation that you _definitely should_ set this.

It also still isn't clear to me why infinite new keys are added if a Max TTL hasn't been set. Surely a point shoul

[2020-08-28 14:45] naxvog commented on #254
Setting a default TTL might be an enticing option but there might be plugins around relying on the expiry of a transient in a specified timeframe. Not saying that I've seen such plugins but yeah this would be one of the afore mentioned misuse of the transient system.

Also your Redis instance has an eviction policy configured that purges keys if necessary (if you have `noeviction` eviction policy

[2020-08-28 15:26] tillkruss commented on #254
The WP object cache and transients API both default to `0` (no expiration). MaxTTL should be set on an individual basis IMO.

Redis also holds 2^32 keys, so adding 1500 a week isn't a real issue.

[2020-08-28 15:26] #254 closed

[2020-09-01 08:34] dhsathiya opened #265 "Fatal Error in wp redis status"
I am using AWS Elasticache in Non-cluster mode.

**What I am trying to achieve**
The aim is to set up this plugin in a way that read(GET) queries will get balanced between 2 instances and write queries go to the master (Primary) instance.

**AWS Setup**
Elasticache Redis.
1x Master (Primary) instance
1x Read-only instance

**wp-config.php**
[code]
Note that I am using read-only & writer endpoint i

[2020-09-01 18:41] #265 closed

[2020-09-01 18:44] tillkruss commented on #265
Thanks @dhsathiya, this was fixed in #266 and I'll tag a new version later today.

[2020-09-05 21:43] orenwolf opened #269 "Issue with multisite and PHPredis igbinary serializer"
Hello!

We're running WP 5.5.1 on PHP 7.4.

php -i shows:

[code]

Site is a subdomain multisite.

If I enable `define('WP_REDIS_SERIALIZER', 'Redis::SERIALIZER_IGBINARY');`, the site will fail with the following:

[code]

wp cli further believes that `DOMAIN_CURRENT_SITE` is not set suggesting those defines are being munged somehow.

I commanded a redis `FLUSHALL` before and after enabling.

Debu

[2020-09-06 06:16] tillkruss commented on #269
You're treating the class constant as a string, try removing the apostrophes and flush you cache.

[2020-09-06 17:37] orenwolf commented on #269
Yes, that solved it.

May I suggest updating the wiki to show the format folks should be adding explicitly to their `wp-config.php`? I wonder also if, for example, people add values like `WPREDIS_MAXTTL` as strings as well.

Thanks again for the quick response and fast turnaround! Now I just need to figure out why the site falls over when the redis instance fills up and it starts evicting!

[2020-09-06 17:37] #269 closed

[2020-09-07 03:33] tillkruss commented on #269
Did you set an eviction policy on your Redis instance?

[2020-09-07 03:59] orenwolf commented on #269
I did, I set `allkeys-lru` as well as enabling the various `lazyfree` options. The issues are definitely in redis, not the plugin (as even connections to `redis-cli` are affected.

Thanks again, and sorry for the unnecessary issue report!

[2020-09-07 16:06] tillkruss commented on #269
That's alright. Using serialization is smart, you might want to consider the LZ4 compression in the Pro version to further reduce the dataset size.

Or alternatively, can you just bump you instance size to avoid Redis having to evict?

[2020-09-08 19:08] tillkruss opened #270 "Maximum function nesting level of '256' reached"
From: https://wordpress.org/support/topic/redis-plugin-causes-maximum-function-nesting-level-error/

[code]

[code]

[2020-09-08 19:10] tillkruss commented on #270
@naxvog I haven't had time to look into this. Maybe it's some double serialization like `__sleep()` or `Serializable` interface?

[2020-09-09 18:10] tillkruss opened #271 "Metrics API endpoint"
An upcoming partner rolling out the plugin would love an API endpoint to get Redis Metrics as JSON.

Optionally a WP CLI command as well.

[2020-09-10 00:16] therealgilles commented on #270
I haven't been able to narrow things down with xdebug yet (been investigating an unrelated Kinsing malware infection). I will try to post my findings soon.

[2020-09-10 02:53] tillkruss commented on #270
@therealgilles: Did adding `tribe-events` to the list of ignored group resolve the issue entirely?

[2020-09-10 02:57] therealgilles commented on #270
Depends what you mean by entirely. The PHP fatal error does not happen anymore, so my site works.

It disables the object cache for the events posts so it makes sense that the problem would go away. Now it's not a completely satisfying solution as the plugins should be able to work together. And hopefully we can get to the bottom of it.

[2020-09-10 03:01] tillkruss opened #272 "Add optional admin bar node to flush cache"
[code]

[2020-09-10 03:15] tillkruss commented on #270
It's this plugin, right? https://github.com/moderntribe/the-events-calendar

[2020-09-10 03:26] therealgilles commented on #270
Correct and I am also running their events-calendar-pro and events-virtual plugins.

[2020-09-10 03:43] naxvog commented on #270
Can you narrow down the issue by deactivating the additional TEC plugins one by one?

[2020-09-10 03:54] naxvog commented on #272
I like the simplicity of that solution but think such a link should not redirect the user to a different admin page but should just execute the action and show a message on the current admin page.

We could add a second parameter to the `action link` method to achieve this. Might need some extra work to allow the plugin actions to run on non plugin pages.

Additionally we should deactivate the ent

[2020-09-10 05:38] therealgilles commented on #270
The problem disappears if I disable the events-virtual plugin (and re-appears if I activate it again). This plugin is the newest one that I've installed and is fairly new too. Therefore its recent activation on my site triggered this conflict with the Redis Cache plugin, though it's still not clear where the problem lies.

[2020-09-10 05:39] therealgilles commented on #270
Here is a stack trace I got via xdebug:

`WP_Object_Cache->is_global_group (/var/www/html/wp-content/object-cache.php:1797)
WP_Object_Cache->build_key (/var/www/html/wp-content/object-cache.php:1781)
WP_Object_Cache->get (/var/www/html/wp-content/object-cache.php:1332)
wp_cache_get (/var/www/html/wp-content/object-cache.php:114)
WP_Post::get_instance (/var/www/html/wp-includes/class-wp-post.php:23

[2020-09-10 05:47] therealgilles commented on #270
From the stack trace, we can see tribe_events_event_schedule_details gets called repeatedly. But that's not 256 times so that's not where the nesting level error comes from.

The error is always on:
`WP_Object_Cache->is_global_group (/var/www/html/wp-content/object-cache.php:1797)`

but I cannot figure out if this is the function that's been looped through and if so, how.

[2020-09-10 05:48] therealgilles commented on #270
The line 1797 in object-cache.php is actually this line:

[code]

[2020-09-10 05:53] therealgilles commented on #270
I also have trouble understanding the following part of the trace:

[code]

How does serialize in maybe_serialize jump to Tribe\Utils\Lazy_String->serialize?

[code]

[2020-09-10 06:02] therealgilles commented on #270
Oh wait, maybe I think I misinterpreted what max nesting level meant. Somehow I thought it was per function but I now see that it's the nesting of all the functions. Okay, the stack trace makes sense now and the problem lies with repeatedly going through tribe_events_event_schedule_details. Now to figure what creates the loop.

[2020-09-10 06:04] therealgilles commented on #270
I guess the problem happens here:

[code]

when tribe_get_event gets called again when it was already called earlier. Now is that the loop, or should we not get here in the first place?

[2020-09-10 06:20] naxvog commented on #270
Serialization is part of PHP magic methods. If you call `serialize` on an object that implements the `__sleep` method the object will determine its serialized state (https://www.php.net/manual/en/function.sleep.php)

Like @tillkruss mentioned this might be a serialization issue with the Lazy_String class. Sadly that class is not part of the open source plugin.

It seems to me that the Lazy_String

[2020-09-10 06:32] therealgilles commented on #270
I could not paste the result here, it's too long. Here it is:

[roc.log](https://github.com/rhubarbgroup/redis-cache/files/5199559/roc.log)

[2020-09-10 06:36] naxvog commented on #270
Ok, so there are just those 2 hooks registered:
- `append_recurring_info_tooltip`
- `include_single_control_desktop_markers`

Could you change the provided code to the following (this time posting the `roc2.log`?
[code]

This is to confirm that this is indeed a loop on the same event.

[2020-09-10 06:44] therealgilles commented on #270
I don't see a roc2.log being created. Is it possible that PHP does not have time to write to the file before it crashes?

[2020-09-10 06:49] naxvog commented on #270
That' a good clue. PHP writes that file immediatly.

The loop is happening before https://github.com/moderntribe/the-events-calendar/blob/f88ad83138f46e94e6718a76427066e6f01bbe9b/src/functions/template-tags/general.php#L1220

try switching the hook to:
[code]

[2020-09-10 06:54] therealgilles commented on #270
Mentioning that I think their github repo is not up to date. the-events-calendar/common/src/Tribe/Utils/Lazy_String.php should be in it. You may be able to see the code if you download the free plugin.

Your filter worked. This time I got int(141908) followed by a newline 5,934 times.

[2020-09-10 07:56] therealgilles commented on #270
I'm thinking that if add_single_control_markers and include_single_control_desktop_markers used $event instead of $event_id as an argument, then add_single_control_markers would not have to call tribe_get_event() and the loop would not happen.

At the same time, are the plugin authors supposed to expect a cache plugin to call serialize() on the event post object?

[2020-09-10 08:47] therealgilles commented on #270
Quickly tried to pass through the $event object but the event schedule details disappeared from the event page, so that's not the right solution.

[2020-09-10 17:09] tillkruss commented on #270
@mitogh @paulmskim @bordoni Can you provide us with a license for the Pro version as well as the "Virtual Events" so we can debug this?

[2020-09-10 17:16] tillkruss commented on #272
Agreed, flush on the current page without redirecting to settings.

Integration with existing adminbar nodes would be neat. I was thinking of making this node opt-in, and maybe we can just make it configureable, if users want to inject it to specific nodes.

[2020-09-10 22:57] therealgilles commented on #270
@tillkruss: Let me know if there is anything else I can do to help.

[2020-09-11 02:30] tillkruss commented on #270
@therealgilles We could screenshare and I run 2-3 debug calls on your site, that might give me enough data to get to the bottom of this.

[2020-09-11 05:12] therealgilles commented on #270
@tillkruss: Sure. What's your preferred screenshare app and what time would be good for you tomorrow Friday?

[2020-09-11 05:48] therealgilles commented on #270
I may have find a solution, I need to test it. I notice that the excerpt function also uses Lazy_String but does not cause the same issue. Turns out its code looks like this:

[code]

and the associated avoiding_filter_loop method with the documented explanation:

[code]

I guess I'm still not clear why the schedule details method does not create a loop without the events-virtual plugin. Oh wait,

[2020-09-11 06:27] therealgilles commented on #270
I confirm my changes worked. Here is what I did in events-virtual/src/Tribe/Template_Modifications.php:

[code]

and below:

[code]

Now to report them to the Events Calendar team.

[2020-09-11 06:40] therealgilles commented on #270
I don't write plugin code but when code has to go through so many hoops to write 'Virtual Event' (sometimes with an icon) surrounded by a couple divs on a page, makes you wonder if you did not push this template/object thing a bit too far...

[2020-09-11 20:57] tillkruss commented on #270
@bordoni was so kind to provide me with the plugins to debug this. It also occurs with Object Cache Pro, which doesn't call `serialize()`, so my conclusion is that the Modern Tribe will have to solve the loop at their end, just like your fix @therealgilles.

In the meantime this can be avoided by ignoring the `tribe-events` cache group.

[2020-09-11 20:59] #270 closed

[2020-09-21 11:28] johnbillion opened #278 "Dashboard widget appears in site language instead of user language"
Given a site with multiple languages installed, the "Redis Object Cache" dashboard widget always shows in the language of the site, not the chosen language of the user.

To reproduce:

* Install a non-English language that is supported by Redis Cache, for example Russian
* Change the site language to this language and ensure your translations are up to date
* Change your user language back to Engl

[2020-09-21 11:29] johnbillion commented on #278
<img width="499" alt="" src="https://user-images.githubusercontent.com/208434/93761693-1de87b80-fc06-11ea-9e04-af84fea93e58.png">

[2020-09-21 14:43] tillkruss commented on #278
Any leads to why it's not translating?

https://github.com/rhubarbgroup/redis-cache/blob/develop/includes/ui/widget.php

[2020-09-21 15:02] johnbillion commented on #278
Oh this affects the whole plugin. Its settings screen, its description on the Plugins screen, etc.

[2020-09-21 15:04] johnbillion commented on #278
Ah-ha. This is caused because `\Rhubarb\RedisCache\Plugin::__construct()` calls `load_plugin_textdomain()` immediately instead of on the `init` hook.

[2020-09-23 20:24] #278 closed

[2020-09-28 21:29] tillkruss commented on #224
See #272 as well.

[2020-09-29 20:52] #223 closed

[2020-10-01 04:53] tullibo commented on #173
+1 for this dude, we're using on shared environments in Cloudways and Plesk and the cache is hopping between sites. Would be nice if the cache salt was taken care of automatically or in the gui

[2020-10-04 23:08] rvencu opened #283 "Filter needed for validate_object_cache_dropin"
I need to control my object caching behaviour based on some conditions, therefore I need to write my own object-cache.php file and load redis-cache object-cache.php file from plugin folder based on some conditions.

The mentioned function just stands in the way of my approach and I would appreciate if you can include a filter before return statement of Rhubarb\RedisCache\Plugin::validate_object_ca

[2020-10-05 01:46] tillkruss commented on #283
Sure thing. Submit a PR 👍🏻

[2020-10-05 08:48] rvencu commented on #283
Thanks, https://github.com/rhubarbgroup/redis-cache/pull/284

[2020-10-05 16:54] #283 closed

[2020-10-09 11:05] rwkyyy opened #289 "WooCommerce - upon new order received, whole redis cache gets flushed."
Hi there, I've added redis to a website that has a lot of orders, in the hope that redis will cache the postmeta table well.

This is needed as we are doing extra checks for each listed order in the admin screen to find any duplicate order with ongoing statuses.

The issue is that if you list the latest 20 orders, it loads slow, then if you reload the page it's almost instant (redis serving the pr

[2020-10-09 11:06] lkraav commented on #289
Have you located any WC codebase fragment you think might be responsible for pot. inappropriate cache flush you're seeing?

[2020-10-09 11:22] rwkyyy commented on #289
@tillkruss none, but maybe these help:
https://ibb.co/p1Bjst4 - initial load
https://ibb.co/BL5x5NR - initial load - page refresh
https://ibb.co/rbWRbdD - order status change OR new order arrived

basically, any changes that is done to an order, flushes the cache

[2020-10-09 12:01] naxvog commented on #289
Hey @rwkyyy ! You can use the following hook to determine what is causing the flush event:
[code]

You might add a function like this to find the cause:
[code]

[2020-10-13 17:48] tillkruss commented on #289
@rwkyyy did you find out what the issue is?

[2020-10-13 18:15] rwkyyy commented on #289
@tillkruss not yet, been busy with others, will come back and post results as soon as I make time for debugging this issue

[2020-10-14 15:09] thefrosty commented on #232
Assuming this is related to `copy(/...wp-content/.redis-write-test.tmp): failed to open stream: Permission denied`

<img width="1665" alt="Screen Shot 2020-10-14 at 8 05 20 AM" src="https://user-images.githubusercontent.com/367897/96008158-1e82c500-0df4-11eb-8267-40ffdad7383e.png">

If not I will open a new issue.

_This is a docker install with limited permissions._

WP: `5.5.1`
Redis Plugin: `2.

[2020-10-14 15:30] thefrosty opened #291 "Uncaught Error: Call to a member function zrangebyscore()"
I got the following error when clicking "flush cache" from the settings page:

[code]

Diagnostic:
[code]

[2020-10-14 15:34] thefrosty commented on #291
![Kapture 2020-10-14 at 8 32 52](https://user-images.githubusercontent.com/367897/96011691-17f64c80-0df8-11eb-9a3d-bc42957f4336.gif)

[2020-10-14 15:36] thefrosty commented on #291
![Kapture 2020-10-14 at 8 36 31](https://user-images.githubusercontent.com/367897/96011920-699ed700-0df8-11eb-9538-da7fdc382a10.gif)

[2020-10-14 20:29] thefrosty commented on #291
Well, we only use Redis plugin as an mu-plugin. No other installs, and on docker deploy copy the object-cache.php file. 🤔

[2020-10-14 20:33] tillkruss commented on #291
Try disabling all other plugins and see if that resolves the issue.

[2020-10-14 20:36] thefrosty commented on #291
Will report back after. cc @martythornley

[2020-10-14 22:49] LukeAbell opened #292 "Additional WooCommerce Issue with Redis-Cache & Cache Invalidation"
We are experiencing the race conditiion issue as clearly documented in this pull request for WooCommerce - https://github.com/woocommerce/woocommerce/pull/27696

It looks like you [commented on the WP ticket](https://core.trac.wordpress.org/ticket/31245#comment:101) related to the option hash, but it looks like that might have been reverted here: https://github.com/rhubarbgroup/redis-cache/compare

[2020-10-14 23:07] LukeAbell commented on #292
I just tested this pull request and the issue persists https://github.com/rhubarbgroup/redis-cache/pull/282

This might be an option? https://github.com/humanmade/memcache-object-cache/blob/master/object-cache.php#L140 as mentioned in the original ticket https://core.trac.wordpress.org/ticket/31245#comment:81

They have specific logic when dealing with the alloptions option.

[2020-10-14 23:33] LukeAbell commented on #292
I replicated the human made drop-in logic and it resolved the issue. I haven't fully tested everything but the race condition no longer happens.

Here's my branch - https://github.com/blueoceanideas/redis-cache/commit/24fe6f24061ac13867cca555c73a4599588b6083

[2020-10-16 01:17] tillkruss commented on #292
Hi @LukeAbell, yeah that's a well-know issue with most object caches.

[Object Cache Pro](https://objectcache.pro) ships with a solution that splits the `alloptions` key into a Redis Hash. If you're running a high traffic store, I'd recommend to consider upgrading, it's exceptionally reliable.

If you want to submit a PR that to this repo and bundle your solution behind a feature flag, I'd be happ

[2020-10-16 01:17] #292 closed

[2020-10-25 01:22] therealgilles commented on #270
The issue has been fixed in events-virtual 1.1.1. They implemented a different/simpler fix.

[code]

[2020-11-05 10:14] rwkyyy commented on #289
Hi there,

I've added the action but no logs get created (search entire directory via ssh -> find . -name cache-flush.log); tried after manual flush and after automatic flush when new order is added in the database.

This is the system diagnostics (hope it helps):
Status: Connected
Client: PhpRedis (v5.3.1)
Drop-in: Valid
Disabled: No
Filesystem: Working
Ping: 1
Errors: []
PhpRedis: 5.3.1
Predis:

[2020-11-05 18:36] tillkruss commented on #289
If you added the action, but no log file is created, then either you need to add it earlier (in a MU-plugin), or something outside of WordPress is flushing your Redis database.

Either way, this seems to be a setup specific issue and not related to this plugin.

[2020-11-05 18:37] tillkruss commented on #291
@thefrosty @martythornley any update on this?

[2020-11-06 00:04] thefrosty commented on #291
Sorry I went on vacation for two weeks. After some testing we weren't able to solve the issue. We are currently rolling back to `v1.x`, and may be reaching out for further support in the coming weeks (for the PRO version).

[2020-11-06 13:03] rwkyyy commented on #289
@tillkruss your suggestion with mu-plugin worked like a charm, the log instantly popped up when using a cache flushing actioin, but it did not show when a new order was added/status changed/etc.

What should i understand from this?

[2020-11-06 17:08] tillkruss commented on #291
@thefrosty Alright, thanks for the update. Hit me up anytime regarding Object Cache Pro ✌🏻

[2020-11-06 17:08] #291 closed

[2020-11-06 17:09] tillkruss commented on #289
Can you post the entire backtrace that caused the flush that's unwanted?

[2020-11-09 08:38] rwkyyy commented on #289
@tillkruss that's the big wierd thing, there is none when a new order is added to the database, but if I check the storage via ssh, it's empty.

So I guess some external factor, outside WP, clears the Redis cache?

[2020-11-09 17:46] tillkruss commented on #289
Maybe. It sounds like a setup issue, no plugin related.

[2020-11-09 17:46] #289 closed

[2020-11-10 20:27] zigasancin opened #299 "wp_cache_delete_group"
I've got a use case where I'd need to delete a cache group instead of using the usual `wp_cache_delete` with a specified key. Currently WordPress doesn't support cache group deletion ([WordPress trac issue 4476](https://core.trac.wordpress.org/ticket/4476)), but WP Redis implements it on their own in the drop-in ([here](https://github.com/pantheon-systems/wp-redis/blob/master/object-cache.php#L89-

[2020-11-10 20:48] tillkruss commented on #299
Yeah, sure thing submit a PR. I don't see how your code would work, did you test this?

I'd use a `SCAN`, `MATCH` and `UNLINK` script to delete all keys in a group.